

input,
								textarea,
								label,
								html,
								.entry-content blockquote cite,
								.comment-content blockquote cite,
								.card--feature .card__content,
								.rating,
								.widget--footer .search-form .search-field,
								.featured-label,
								.package__description,
								.footer-text-area,
								.widget_listing_comments h3.pixrating_title,
								.chosen-container-multi .chosen-choices,
								.chosen-container-single .chosen-single,
								.product .product__price,
								.product .product__tag {
}
.entry-title, .archive-title,
									h1, h2, h3,
									.card--feature .card__title,
									.results,
									.page-title,
									.search_location input,
									.package__title, .package__price,
									.package__subscription-period,
									h2.comments-title,
									.page-add-listing fieldset:first-child label,
									.product-content .price {

}
.intro,
									.description,
									.tabs.wc-tabs,
									.job-manager-form fieldset .job-manager-uploaded-files .job-manager-uploaded-file .job-manager-uploaded-file-preview a,
									.widget_subtitle--frontpage,
									.category-list a,
									.single:not(.single-job_listing) .entry-subtitle,
									.page .entry-subtitle,
									.single-job_listing .entry-subtitle {

}
.card__title.card__title, ul.categories--widget .category-count,
									ul.categories--widget .category-text {

}
.card {

}
.single:not(.single-job_listing) .entry-meta,
								.page .entry-meta,
								.single:not(.single-job_listing) div.sd-social.sd-social > div.sd-content.sd-content ul li > a,
								.page div.sd-social.sd-social > div.sd-content.sd-content ul li > a,
								.search_jobs select,
								.search-form .search-field,
								.search_jobs--frontpage .chosen-container .chosen-results li,
								.search_jobs--frontpage .chosen-container-multi .chosen-choices li.search-field input[type=text],
								.search_jobs--frontpage .chosen-container-single .chosen-single span,
								.search_jobs .chosen-container .chosen-results li,
								.search_jobs .chosen-container-multi .chosen-choices li.search-field input[type=text],
								.search_jobs .chosen-container-single .chosen-single span,
								.search_jobs--frontpage-facetwp,
								.search_jobs--frontpage-facetwp input,
								.search_jobs--frontpage-facetwp select,
								.search_jobs--frontpage-facetwp .facetwp-filter-title,
								.header-facet-wrapper .facetwp-facet input,
								.header-facet-wrapper .facetwp-facet select,
								.header-facet-wrapper .facetwp-facet label,
								.active-tag,
								.chosen-results,
								.job_filters .search_jobs div.search_location input,
								.search-suggestions-menu li a,
								.page-template-front_page .search-form .search-submit,
								.btn,
								input[type="submit"],
								button[type="submit"],
								.woocommerce-account:not(.logged-in) .woocommerce form.login input[type="submit"],
								.woocommerce .button,
								.search_jobs--frontpage #search_location {

}
		</style>

<link rel='dns-prefetch' href='//v0.wordpress.com'/>
<style type='text/css'>img#wpstats{display:none}</style>	<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
			<style id="customify_output_style">

.site-branding img{max-height: 32px}.section-wrap { max-width: 1100px; }
.single:not(.single-job_listing) .header-content,
    .single:not(.single-job_listing) .entry-content,
    .single:not(.single-job_listing) .entry-footer,
    .single:not(.single-job_listing) .comments-area,
    .single:not(.single-job_listing) .post-navigation,
    .page .header-content,
    body:not(.woocommerce-checkout):not(.page-template-full_width) .entry-content,
    .page .entry-footer,
    .page .comments-area,
    .page .post-navigation,
    .secondary-menu,
    .error404 .header-content, .error404 .entry-content,
    .search-no-results .header-content, .search-no-results .entry-content,
    .upsells, .related { max-width: 760px; }
.bar, .bar--fixed, .site-header,
.primary-menu ul .children, ul.primary-menu .sub-menu, .search-suggestions-menu,
.search-suggestions-menu .sub-menu,
.site-header .search-form .search-field,
.site-header .search-form.is--active,
.search_jobs--frontpage .chosen-container .chosen-results,
.header-facet-wrapper .facet-wrapper input, .header-facet-wrapper .facet-wrapper select { background-color: #ffffff; }
ul.primary-menu > .menu-item.menu-item-has-children > .sub-menu:before,
  .site-header .search-suggestions-menu:before { border-top-color: #ffffff; }
.site-header .site-title,
.menu-trigger, .search-trigger--mobile { color: #484848; }
.search-form .search-field,
.search-form .search-submit { color: #484848; }
.header--transparent .primary-menu ul .children a,
.primary-menu ul .header--transparent .children a,
.header--transparent ul.primary-menu .sub-menu a,
ul.primary-menu .header--transparent .sub-menu a,
div.sd-social.sd-social .inner a span { color: #919191; }
.primary-menu ul a, ul.primary-menu a, .menu-wrapper a,
.primary-menu ul .page_item a,
ul.primary-menu .menu-item a,
.primary-menu ul .page_item_has_children > a,
ul.primary-menu .menu-item-has-children > a { color: #919191; }
.sub-menu .primary-menu ul .page_item_has_children:after,
.primary-menu ul .sub-menu .page_item_has_children:after,
.sub-menu ul.primary-menu .menu-item-has-children:after,
ul.primary-menu .sub-menu .menu-item-has-children:after,
.primary-menu ul .page_item_has_children:after,
ul.primary-menu .menu-item-has-children:after,
.primary-menu ul > .cta.page_item:after,
ul.primary-menu > .cta.menu-item:after { border-top-color: #919191; }
.primary-menu.primary-menu ul .page_item_has_children:hover:after,
ul.primary-menu.primary-menu .menu-item-has-children:hover:after,
.hover.menu-item-has-children > a:after, .hover.page_item_has_children > a:after,
.page-template-front_page .is--active .search-field-wrapper:after { border-top-color: #5D9CEC; }
.search-suggestions-menu .menu-item-has-children:hover:after { border-left-color: #5D9CEC; }
.primary-menu > ul li:hover > a, ul.primary-menu li:hover > a,
.search-suggestions-menu li:hover > a,
.header--transparent .primary-menu ul .page_item_has_children:hover > a,
.header--transparent .primary-menu ul .page_item:hover > a,
.header--transparent ul.primary-menu .menu-item-has-children:hover > a,
.header--transparent ul.primary-menu .menu-item:hover > a { color: #5D9CEC; }
.page-template-front_page .search-suggestions-menu > .menu-item:hover > a,
.search_jobs--frontpage .chosen-container .chosen-results li:hover { background-color: #5D9CEC; }
html, .job_filters, .page-package-selection .hentry.hentry, .single-job_listing .entry-header:before,
.listing-sidebar--main .widget:not(.widget_listing_tags):not(.widget_listing_actions):not(.widget_listing_comments),
.listing-sidebar--top .widget,
.listing-sidebar--bottom,
.listing-sidebar--main .comment-respond,
.page-add-listing .entry-content,
.page-add-listing fieldset:first-child,
.woocommerce-account:not(.logged-in) .entry-content .woocommerce form,
.post-password-form,
.page-listings div.job_listings .load_more_jobs strong,
body.registration .entry-content { background-color: #f9f9f9; }
.widget_listing_comments #add_post_rating:not(:empty):before { border-right-color: #ffffff; }
.front-page-section:nth-child(2n),
.blog, .archive, .woocommerce.archive,
.page-header, .page-header-background,
.single:not(.single-job_listing) .entry-featured, .page .entry-featured,
.error404 .entry-header, .search-no-results .entry-header,
.single-job_listing,
.page-add-listing .hentry,
.job_filters .showing_jobs,
.job_listing_packages,
.page-listings,
.tax-job_listing_category,
.tax-job_listing_tag,
.single-action-buttons .action__icon,
.woocommerce-account:not(.logged-in) .site-content,
.woocommerce-account:not(.logged-in) .entry-content,
.mobile-buttons, .tabs.wc-tabs,
.woocommerce-cart,
.woocommerce-checkout,
body.registration { background-color: #f9f9f9; }
.job_listing_packages, { background-color: #f9f9f9; }
.page-title,
.widget_title--frontpage,
.single:not(.single-job_listing) .entry-title, .page .entry-title,

.card__title.card__title,
.card__title.card__title a,
.package__price,
.product .card__title.card__title,

h1, h2, h3, h4, h5, h6,
.results,
.intro,
.listing-sidebar .widget_sidebar_title { color: #484848; }
.widget_subtitle--frontpage { color: #919191; }
.entry-content a:hover, .comment-content a:hover,
label, html,

.widget--footer .search-form .search-field,
.entry-content a.listing-contact,
.single-action-buttons .action__text, .single-action-buttons .action__text--mobile,
div.sd-social.sd-social > div.sd-content.sd-content ul li > a span,

.listing-sidebar,
.widget_listing_content,
.widget_listing_comments h3.pixrating_title,
.widget_listing_sidebar_categories .category-text,
.widget_listing_tags .tag__text,
ol.comment-list .fn,
ol.comment-list .fn a,
ol.comment-list .comment-content,
ol.comment-list .reply,
.comment-respond label,
.page-template-front_page .search-form .search-field,
.woocommerce-account:not(.logged-in) .woocommerce form.login .form-row .required,
.mobile-buttons .btn--view, .search_jobs--frontpage .chosen-container .chosen-results li { color: #484848; }
input[type="checkbox"]:focus,
.package__btn.package__btn:hover { border-color: #484848; }
.btn:hover, input[type="submit"]:hover,
.job-manager-form fieldset .job-manager-uploaded-files .job-manager-uploaded-file .job-manager-uploaded-file-preview a:hover,
.woocommerce-account:not(.logged-in) .woocommerce form.login input[type="submit"]:hover,
.woocommerce .button:hover, .btn:focus, input[type="submit"]:focus,
.job-manager-form fieldset .job-manager-uploaded-files .job-manager-uploaded-file .job-manager-uploaded-file-preview a:focus,
.woocommerce-account:not(.logged-in) .woocommerce form.login input[type="submit"]:focus, .woocommerce .button:focus,
.package__btn.package__btn:hover,
.job_listing_preview_title input[name="edit_job"],
 .page-template-front_page .search-form .search-submit:hover, .woocommerce-message > a.button.wc-forward:hover { background-color: #4A89DC; }
.btn, input[type="submit"],
.page-template-front_page .search-form .search-submit,
.job-manager-form fieldset .job-manager-uploaded-files .job-manager-uploaded-file .job-manager-uploaded-file-preview a,
.woocommerce-account:not(.logged-in) .woocommerce form.login input[type="submit"],
.woocommerce .button,
.popup__rating,
.single-action-buttons .action:hover .action__icon,
.action--favorite.bookmarked .action__icon,
.package--labeled .package__btn.package__btn,
.featured-label,
.product .product__tag,
.wc-bookings-date-picker .ui-datepicker td > a:hover,
.wc-bookings-date-picker .ui-datepicker table .bookable-range a,
.wc-bookings-date-picker .ui-datepicker table .ui-datepicker-current-day a,
.block-picker > li a.selected,
.block-picker > li a:hover,
.lwa-form input[type="submit"]:hover,
.no-results .clear-results-btn { background-color: #5D9CEC; }
.package__btn.package__btn { color: #5D9CEC; }
.heart.is--bookmarked #hearshape { fill: #5D9CEC; }
.card, .package, .leaflet-popup-content, .leaflet-popup-tip { background-color: #ffffff; }
.card { border-radius: 8px; }
ul.categories--widget .category-cover { border-radius: 4px; }
.card--listing .card__title.card__title,
.card--post a:hover,
.grid__item--widget .posted-on a:hover,
.grid__item--widget .card--post a:hover,
.popup__title.popup__title { color: #5D9CEC; }
.card, .card__content, .card--post.sticky,
.popup__address, .package__description,
.single-job_listing .entry-subtitle { color: #333333; }
.card .pin,
.card .pin__icon,
.card--listing .card__rating.rating,
.widget_listing_sidebar_categories .category-icon { color: #5D9CEC; }
.card__tag,
.card__rating.rating,
.single-action-buttons .action__icon,
.widget_listing_sidebar_categories .category-icon { border-color: #5D9CEC; }
.pin--selected #selected { fill: #5D9CEC; }
.card__rating.card__pin { color: #5D9CEC; }
.card__tag,
.card__rating.rating,
.widget_listing_sidebar_categories .category-icon { background-color: #ffffff; }
.pin #selected,
.marker-cluster svg #svgCluster2,
.marker-cluster svg #svgCluster3,
.marker-cluster svg #svgCluster4,
.pin #oval { fill: #ffffff; }
.pin--selected #selected,
.marker-cluster svg #svgCluster1,
.heart.is--bookmarked #heartshape { fill: #5D9CEC; }
.marker-cluster, .pin__icon { color: #5D9CEC; }
.footer-widget-area { background-color: #2f2929; }
.widget--footer { color: #ffffff; }
.site-footer { background-color: #261e1e; }
.site-info { color: #adadb2; }
.theme-info { color: #706c6c; }
.not-entry-content a,
.comment-content a,
.single-categories-breadcrumb a:hover,
.single-action-buttons .action:hover .action__text,
.action--favorite.bookmarked .action__icon,
.tags-links a:hover, .tags-links a:focus,
.loader,
.listing-sidebar .widget_listing_content a,
.listing-sidebar a:hover,
.listing-sidebar .action__icon,
ol.comment-list .fn a:hover,
.single-job_listing .entry-title,
.page-listings div.job_listings .load_more_jobs:hover strong,
.tax-job_listing_category div.job_listings .load_more_jobs:hover strong,
.tax-job_listing_tag div.job_listings .load_more_jobs:hover strong,
.chosen-container-single .chosen-single span,
.chosen-container .chosen-results li.highlighted,
progress,
.single-product .stars a:before,
.product-content .price,
.tabs.wc-tabs li.active a,
.color-accent,
.entry-content a, .comment-content a,
.gallery-arrow,
.job-manager-form fieldset .job-manager-uploaded-files .job-manager-uploaded-file .job-manager-uploaded-file-preview a:hover,
.job-manager-form fieldset .job-manager-uploaded-files .job-manager-uploaded-file .job-manager-uploaded-file-preview a:focus,
.package__btn.package__btn:hover,
.nav-links a:hover, .site-footer a:hover, .facetwp-pager a:hover,
.facetwp-pager a.first-page:hover:before, .facetwp-pager a.first-page:hover:after,
.facetwp-pager a.last-page:hover:before, .facetwp-pager a.last-page:hover:after,
.widget_listing_sidebar_claim_listing .listing-claim-button, .lwa-form .lwa-action-link,
.pac-container .pac-item:hover .pac-item-query { color: #5D9CEC; }
.secondary-menu, .secondary-menu-wrapper:before, .product__remove,
.page-template-front_page .pac-container .pac-item:hover,
.page-template-front_page .search_jobs--frontpage .search-submit,
.facetwp-type-slider .noUi-connect,
.card__featured-tag, .woocommerce-message, .no-results .clear-results-btn { background-color: #5D9CEC; }
progress::-webkit-progress-bar { background: #5D9CEC; }
progress::-webkit-progress-value { background: #5D9CEC; }
progress::-moz-progress-bar { background: #5D9CEC; }
.page-template-front_page .is--active .search-field-wrapper.has--menu:after,
                ul.secondary-menu > .menu-item.menu-item-has-children > .sub-menu:after,
                .search_jobs--frontpage .chosen-with-drop.chosen-container-active .chosen-single:after { border-top-color: #5D9CEC; }
.description, .tabs.wc-tabs,
.single-categories-breadcrumb a,
.single-categories-breadcrumb a:after,
.single-rating .rating-value, .widget_listing_comments .comment .review_rate .rating-value,
div.sd-social.sd-social > div.sd-content.sd-content ul li > a,
.sharedaddy div.sd-social-icon .sd-content ul li[class*="share-"].share-press-this a.sd-button,
.sharedaddy div.sd-social-icon .sd-content ul li[class*="share-"].share-press-this a.sd-button:before,
.tags-links,
.tags-links a,
.listing-sidebar a,
.widget_listing_comments .comment-meta a,
.comment-meta a,
.single:not(.single-job_listing) .entry-subtitle, .page .entry-subtitle,
.single:not(.single-job_listing) .entry-meta a, .page .entry-meta a,
.tax-job_listing_category div.job_listings .load_more_jobs strong, .tax-job_listing_tag div.job_listings .load_more_jobs strong,

.search_jobs select,
.chosen-container-multi .chosen-choices li.search-field input[type=text], .chosen-container-single .chosen-single span,
.active-tag,
.select-tags .chosen-container-multi .chosen-choices,

.chosen-results,
.job-manager-form .field small.field-description,
.uploader-btn .spacer .text,
.page-add-listing .chosen-container-multi .chosen-choices li.search-choice,
.woocommerce-account:not(.logged-in) .woocommerce form.login label[for=rememberme],
.woocommerce-account:not(.logged-in) .lost_password a,
.woocommerce-breadcrumb,
.product-content .price del,
.mfp-iframe-scaler.mfp-wp-login .mfp-close,
.nav-links a, .facetwp-pager a,
.job_filters .facetwp-type-fselect .fs-label.fs-label { color: #919191; }
.page-template-front_page .search-form .search-field::-webkit-input-placeholder { color: #919191; }
.page-template-front_page .search-form .search-field::-moz-placeholder { color: #919191; }
.page-template-front_page .search-form .search-field::-moz-placeholder { color: #919191; }
.select-tags .chosen-container-multi .chosen-choices li.search-field::-webkit-input-placeholder { color: #919191; }
.select-tags .chosen-container-multi .chosen-choices li.search-field:-moz-placeholder { color: #919191; }
.select-tags .chosen-container-multi .chosen-choices li.search-field::-moz-placeholder { color: #919191; }
.select-tags .chosen-container-multi .chosen-choices li.search-field:-ms-input-placeholder { color: #919191; }
.description_tooltip { color: #919191; }
.job_filters .showing_jobs,
.tax-job_listing_category div.job_listings .load_more_jobs strong,
.tax-job_listing_tag div.job_listings .load_more_jobs strong { color: #ababab; }
.chosen-container-single .chosen-single div b:after,
.select-tags .chosen-container-multi .chosen-choices:after { border-top-color: #ababab; }
.remove-tag:before,
.remove-tag:after { background-color: #ababab; }
.site-header .site-title { font-size: 24px; }
.site-header .site-title { text-transform: None; }
.site-header .site-title { letter-spacing: 0px; }
.primary-menu > ul a, ul.primary-menu a,
.search-suggestions-menu li a { font-size: 14.95px; }
.primary-menu > ul a, ul.primary-menu a,
.search-suggestions-menu li a { text-transform: none; }
.primary-menu > ul a, ul.primary-menu a,
.search-suggestions-menu li a { letter-spacing: 0px; }
.card__title.card__title,
ul.categories--widget .category-text { font-size: 24px; }
.card__title.card__title, ul.categories--widget .category-count,
ul.categories--widget .category-text { text-transform: None; }
.card__title.card__title, ul.categories--widget .category-count,
ul.categories--widget .category-text { letter-spacing: 0px; }
@media  screen and (min-width: 900px) { .site-header{padding-top: 0px}ul.primary-menu > .menu-item > a, .header--transparent ul.primary-menu > .menu-item > a { padding-left: 20px; }
 }
@media screen and (min-width: 900px)  { ul.primary-menu > .menu-item > a { padding-right: 20px; }
.primary-menu ul > .cta.page_item, ul.primary-menu > .cta.menu-item { border-color: #ebebeb; }
 }
@media  only screen and (min-width: 900px) { .front-page-section { padding-top: 90px; }
 }
@media only screen and (min-width: 900px)  { .front-page-section { padding-bottom: 90px; }
 }
@media only screen and  (min-width: 900px) { .primary-menu ul .children, ul.primary-menu .sub-menu{border-top-color: #f9f9f9} }
@media not screen and (min-width: 900px) { .menu-wrapper, .search-form input.search-field { background-color: #ffffff; }
ul.primary-menu .hover.menu-item-has-children > a:after, .primary-menu > ul .hover.page_item_has_children > a:after { border-top-color: #5D9CEC; }
 }
@media not screen  and (min-width: 900px) { .primary-menu ul .children, ul.primary-menu .sub-menu{background-color: #f9f9f9} }
@media not screen and (min-width: 480px) { .grid.job_listings > .grid__item,
.job_listings.product-content > .grid__item,
.product-content.job_listings > * { background-color: #f9f9f9; }
 }

 .single-rating > i{
   color:#fd6b0d
 }

 .address__country-short,
.address__state-short,
body .address__street-no:after,
.single:not(.single-job_listing) .post-navigation,
.page .post-navigation,
.comment-notes,
.gform_wrapper .top_label .gfield_label {
display: none !important;
}

.postcard__title {
margin-left: -5px;
margin-right: -5px;
}

/*Hide Listings Packages*/
.post-215, .post-210, .post-213 {
display: none !important;
}

.search-suggestions-menu li a ._mi + span {
margin-left: 34px;
}

/*Checkout Notes height*/
.order_comments {
min-height: 87px;
}

/*Hide the heart icon on Frontpage Widgets*/
.front-page-section .heart {
display: none;
}

/* Firefox Browse the high-ights */
html {
-moz-hyphens: none;
}

.widget_listing_comments .comment .review_rate > i, .widget_listing_comments #add_comment_rating_wrap i{
	color:#fd6b0d
}
