/*
 * Simple Responsive Grid
 * A variation of Don't Overthink It Grids, but with
 * unlimited number of cells per row.
 * https://css-tricks.com/dont-overthink-it-grids/
 */

.grid [class*="col-"] {
  margin-bottom: 4%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* tablet view */
@media all and (min-width: 700px) {

  .grid [class*="col-"] {
    float: left;
    margin-left: 5%;
  }

  .grid .col-one-half {
    width: 47.5%;
  }

  .grid .col-one-third {
    width: 47.5%;
  }

  .grid .col-one-fourth {
    width: 30%;
  }

  /* 1st items per row */
  .grid .col-one-half:nth-child(2n+1),
  .grid .col-one-third:nth-child(2n+1),
  .grid .col-one-fourth:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
  }
}

/* desktop view */
@media all and (min-width: 1000px) {

  .grid [class*="col-"] {
    float: left;
    margin-left: 5%;
  }

  .grid .col-one-half {
    width: 47.5%;
  }

  .grid .col-one-third {
    width: 30%;
  }

  .grid .col-one-fourth {
    width: 21.25%;
  }

  /* reset tablet styles above */
  .grid .col-one-third:nth-child(2n+1),
  .grid .col-one-fourth:nth-child(3n+1) {
    margin-left: 5%;
    clear: none;
  }

  /* 1st items per row */
  .grid .col-one-half:nth-child(2n+1),
  .grid .col-one-third:nth-child(3n+1),
  .grid .col-one-fourth:nth-child(4n+1) {
    margin-left: 0;
    clear: left;
  }
}

/* generic styles */

body {
  padding: 4% 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}
