input#toggle { display: none; }
input#toggle ~ .menu { display: block; }
input#toggle:checked ~ .menu { display: none; }

.menu{
 margin-top: 15px;
 display: none;
}

.menu a
{
	display: block;
	background: #F8F8F8;
	width: 240px;
	height: 40px;
	padding: 0 0 0 10px;
	font: bold 13px Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	color: rgba( 0, 0, 0, 0.4 );
	line-height: 40px;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
  font-family: Roboto, sans-serif;
}

.menu::before{
  content: '';
    position: absolute;
    top: -6px;
    right: 35px;
    width: 0;
    height: 0;
    border-top: 6px solid #f8f8f8;
    border-right: 6px solid #f8f8f8;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu a:nth-child( 2 )
{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.menu a:last-child
{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.menu a:hover { color: #5d9cec; }

.menu a:hover > .octicon { color: #5d9cec; }

.icon
{
	float: right;
	margin-top: 10px;
	font-size: 20px;
	color: #000000;
	color: rgba( 0, 0, 0, 0.4 );
	opacity: 0.8;
}

.octicon { margin-right: 16px; }
