<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=header%></title>
    <link rel="stylesheet" href="css/bookPreview/log-in.css">
    <link rel="stylesheet" href="css/profilePage/drop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/fonts/CircularStdFont/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/landingpage/index.css">
    <link rel="stylesheet" href="css/landingpage/search.css">
    <link rel="stylesheet" href="css/landingpage/cardView.css">
    <link rel="stylesheet" href="css/landingpage/genre.css">
    <link rel="stylesheet" href="css/landingpage/search2.css">
    <link rel="stylesheet" href="css/landingpage/Premium.css">
    <link rel="stylesheet" href="css/landingpage/loading.css">
    <link rel="stylesheet" href="css/landingpage/cardView2.css">
    <link rel="stylesheet" href="css/bookPreview/tags.css">
    <style media="screen">
      textarea{
        resize: none
      }
    </style>
  </head>
  <body>
    <div class='here' style="position:absolute; top:0px;  width:100%; height:500%; background-color:rgba(0, 0, 0, 0.75) !important; z-index:99; transition:2s; display:none">
  	</div>


  	<div style="position:fixed;top:30vh; left:37vw; z-index:100; display:none" class="login-page">
  		<div class="form2" action = "/signup" method = "post">
  			<h1 class="entry-title" id='text1'itemprop="name" style="font-family:'Circular Std Book'; font-weight:700; color: #413d3d; border-bottom:1px solid rgba(0, 0, 0, 0.075); padding-bottom:15px; font-size:2.3em">Log-in</h1>
  			<form class="register-form" action="/signup" method="post">
  				<input type="text" name="firstname" placeholder="Enter first name" style="margin-top:20px"/>
  				<input type="text" name="lastname" placeholder="Enter last name"/>
  				<input type="text" name="email" placeholder="Email address"/>
  				<input type="password" name="password" placeholder="Create a password"/>
  				<button>create</button>
  				<p class="message">Already registered? <a class='mssg2'>Log-in</a></p>
  			</form>
  			<form class="login-form" action="/login" method="post">
  				<input type="text" name="email" style="margin-top:20px" placeholder="Email address"/>
  				<input type="password" name="password" placeholder="Password"/>
  				<button>login</button>
  				<p class="message"><a>Forgot password?</a></p>
  				<p class="message" style="margin-top:0">Not registered? <a class='mssg1'>Create an account</a></p>
  			</form>
  		</div>
  	</div>

  	<nav class="container-fluid nav" style="padding-left:0px">
  	<div class="cf">
  	<div class="brand" style="background-color:white; position:relative; z-index:5">
  		<a href="/"><img src="images/landingpage/BookHub_ico.png" alt="" style="width: 50px; height: 50px;"></a>
  	</div>
  	<a href="/"><h1 style="display:inline-block; font-family: 'Comfortaa', Helvetica, sans-serif; color:#354d9c; padding-top:13px; padding-left:10px; animation: logo-anim 1s; position:relative; z-index:3; float:left; animation:unset; font-size:1.5em; margin-top:1.2%; font-weight:600">Bookhub</h1></a>
  	<i class="fa fa-bars nav-toggle"></i>
    <%if(header != 'Home'){%>
    <div id="form-wrapper" style="position:unset; display:inline-block; width:38%; height:60px; margin-top:1%; margin-left:50px; animation: logo-anim 1s;">
  	<button class="go-button" onclick="document.getElementById('searchForm').submit()"><i class="fa fa-search"></i></button>
  	<span class="nav-list" style="height:60px">
  	<span class="current-selection" style="margin-top:8px;color:#888283"><i class="fa fa-book"></i>   Book</span>
  	<span class="arrow" style="margin-top:8px; color:#888283"></span>
  	<select id="dropdown2" style="top: 1px;">
  	<option value="book" id="Book" icon-type="book">Book</option>
  	<option value="owner" id="Owner" icon-type="user">Owner</option>
  	</select>
  	</span>
  	<div class="in-wrap">
      <form class="" action="/search" method="get" id="searchForm">
        <input type="text" name="searchItem" id="search-box" placeholder="What are you looking for?">
      </form>
  	</div>
  	</div>
    <%}else{%>
      <div id="form-wrapper" style="position:unset; display:inline-block; width:38%; height:60px; margin-top:1%; margin-left:50px; animation: logo-anim 1s; visibility:hidden">
    	<button class="go-button" onclick="document.getElementById('searchForm').submit()"><i class="fa fa-search"></i></button>
    	<span class="nav-list" style="height:60px">
    	</span>
    	<div class="in-wrap">
        <form class="" action="/search" method="get" id="searchForm">
          <input type="text" name="searchItem" id="search-box" placeholder="What are you looking for?">
        </form>
    	</div>
    	</div>
    <%}%>
    <%if(user){%>
      <%if(userPhoto){%>
        <img src="uploads/<%=userPhoto%>" alt="" style="width:50px; height:50px; border-radius:100px; float:right; margin-top:25px; margin-left:20px" id="Pic">
      <%}else{%>
        <img src="uploads/default.png" alt="" style="width:50px; height:50px; border-radius:100px; float:right; margin-top:25px; margin-left:20px" id="Pic">
      <%}%>
    <div class="menu" id="profPicDrp" style="position:absolute; right:0; display:none">
			<a href="/profile">Profile<span class="icon octicon octicon-personcolor"></span></a>
			<a id="advertise" href="/advertise">Advertise book<span class="icon octicon octicon-repo-pull"></span></a>
			<a onclick="document.getElementById('logoutForm').click()">Log out <span class="icon octicon octicon-sign-out"></span></a>
      <form class="" action="/logout" method="post" hidden>
        <input type="submit" name="" value="" id="logoutForm" >
      </form>
		</div>
    <%}%>
  	<ul>
      <li><a href="/">Home</a></li>
  		<li><a>About Bookhub</a></li>
  		<li><a>Share A Book</a></li>
      <%if(!user){%>
    		<li><a class="sign-up">Sign-up</a></li>
    		<li><a class="log-in" id="loginButton">Log-in</a></li>
      <%}%>

  	</ul>
  	</div>
  	</nav>
      <%- body %>
    <script type='text/javascript' src='js/bookPreview/log-in.js'></script>
    <script type='text/javascript' src='js/landingpage/drop.js'></script>
    <script type="text/javascript" src-'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'>

    </script>
  </body>
</html>
