@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);



@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

a {
	text-decoration: none;
	outline: none;
}

.red {
	color: #ef5350;
}

.blue {
	color: #0277bd;
}

.orange {
	color: #fd6b0d;
}

.yellow {
  color: #e5af0e;
}

.green {
	color: #2e7d32;
}

.cyan {
	color: #3f9489;
}

/* ---- Card View ---- */
.card-view {
	background: #fff;
	box-shadow: 0px 2px 5px 0px rgba(104,104,104,0.2);
	float: left;
	width: 32%;
	margin: 10px;
	margin-left: 0px;
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.container1 {
	border: 1px solid #ddd;
	padding: 15px;
}

.bg {
	display: block;
	overflow: hidden;
	max-height: 170px;
	max-width: 500px;
	background: #000;
}

.bg img {
	-webkit-transform: translate3d(0,-5px,0);
	transform: translate3d(0,-5px,0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	-webkit-transition: opacity 0.35s, transform 0.35s;
}

.bg:hover img {
	opacity: 0.7;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.tag_name {
	font-family: 'Raleway', sans-serif;
	font-size  : 11px;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin-bottom: 15px;
	text-transform: uppercase;
}

/* COMPANY INFO ------------------------ */
.c_logo {
	display: table-cell;
}

.c_logo img {
	display: inline-block;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.c_info {
	display: table-cell;
	vertical-align: middle;
	padding-top: 5px;
	padding-left: 10px;
	line-height: 18px;
}

.c_name {
	font-size: 20px;
	font-weight: 500;
	color: #3c3c3c;
}

.c_industry {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.05em;
	color: #7e8890;
}

 #c_stars, #c_stars span { /* white star bottom */
	display: inline-block;
	background: url('https://s15.postimg.org/igu2opvh3/stars.png') 0 -12px repeat-x;
	width: 60px;
	height: 12px;
}

 #c_stars span { /* orange stars overlay  - set width by JS code */
	background-position: 0 0;
	vertical-align: super;
}

.c_num {
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	vertical-align: super;
}

.c_content {
	margin-top: -10px;
}

.c_content p {
	line-height: 21px;
}

.c_content .title {
	color: #484848;
	font-weight: 500;
	font-size: 18px;
    font-weight:bold;
	letter-spacing: 0.02em;
}

.c_content .review {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	letter-spacing: 0.05em;
	margin-top: -10px;
}

 /* USER INFO ------------------------ */
.user .user_avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.user .user_avatar {
	display: table-cell;
	vertical-align: middle;
}

.user .user_info {
	display: table-cell;
	vertical-align: middle;
	color: rgba(0,0,0,0.35);
	font-size: 14px;
	line-height: 1.4;
	padding-left: 10px;
}

.user .user_name {
	font-weight: 500;
}
