<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>Harry Potter and the Sorcerer Stone - Bookhub</title>
<link rel="icon" type="image/png" href="images/landingpage/BookHub_ico.png"/>
<link rel='stylesheet' id='listable-style-css'  href='css/bookPreview/additional.css' type='text/css' media='all'/>
<link rel='stylesheet' id='jquery-raty-style-css'  href='https://cdn.demos.pixelgrade.com/wp-content/plugins/comments-ratings/css/jquery.raty.css?ver=1518791654' type='text/css' media='' />
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="css/landingpage/index.css">
<link rel="stylesheet" href="css/bookPreview/index.css">
<link rel="stylesheet" href="css/landingpage/search.css">
<link rel="stylesheet" href="css/landingpage/search2.css">
<link rel="stylesheet" href="css/bookPreview/cardView3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/fonts/CircularStdFont/style.css">
<link rel="stylesheet" href="css/bookPreview/borrow.css">
<link rel="stylesheet" href="css/landingpage/cardView2.css">
<link rel="stylesheet" href="css/landingpage/cardView.css">
<link rel="stylesheet" href="css/bookPreview/tags.css">
<link rel="stylesheet" href="css/bookPreview/filter.css">
<link rel="stylesheet" href="css/bookPreview/grid.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="css/bookPreview/stats.css">
<link rel="stylesheet" href="css/bookPreview/log-in.css">
<link rel="stylesheet" href="css/bookPreview/sampleCard.css">
<link rel="stylesheet" href="css/bookPreview/social-icons.css">
<link rel="stylesheet" href="css/bookPreview/heartAnim.css">
<link rel="stylesheet" href="css/bookPreview/trophy-cart.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body id='hey' class="job_listing-template-default single single-job_listing postid-128 wp-custom-logo listable" style="overflow-x:hidden; background-color:white"> <!-- cause of error -->
  <div class="container10">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 269 264" style="enable-background:new 0 0 269 264;" xml:space="preserve">
    <style type="text/css">
    .st1{fill:#9BB133;}
    .st2{fill:#E7E43B;}
    .st3{fill:#6BABBD;}
    .st4{fill:#38B133;}
    .st5{fill:#E03BE7;}
    .st6{fill:#E9ACC1;}
    .st7{fill:#F04151;}
    .st8{fill:#13414C;}
    .st9{font-family:'Montserrat-Regular';}
    .st10{font-size:23.9043px;}
    </style>
    <g>
      <path id="Particle" class="st1" d="M84.7,71.5c-4.1-3.6-8.1-3.9-10.1-6.4c-1.2-1.5-1.3-4.2,0.4-5.6s4.6-0.6,5.9,0.5
      C83.8,62.3,82.4,67.1,84.7,71.5z"/>
      <path id="Particle_3_" class="st2" d="M100.5,49.6c-2-5.1-5.5-7.1-6.1-10.3c-0.4-1.9,0.7-4.4,2.9-4.8c2.2-0.5,4.4,1.5,5.1,3.1
      C103.8,41,100.4,44.6,100.5,49.6z"/>
      <path id="Particle_1_" class="st3" d="M134.9,63.9c0-5.4-2.4-8.6-1.8-11.8c0.4-1.9,2.3-3.8,4.5-3.4c2.2,0.4,3.5,3.1,3.5,4.8
      C141.2,57.1,136.7,59.2,134.9,63.9z"/>
      <path id="Particle_2_" class="st4" d="M170.5,47.1c-0.3-3.9-2.9-4.3-2-7.4c0.5-1.8,2.6-3.6,4.8-3s3.2,3.4,3.1,5
      C176.1,45.4,172.6,44.1,170.5,47.1z"/>
      <path id="Particle_10_" class="st1" d="M171.7,77.1c3.6-4.1,3.9-8.1,6.4-10.1c1.5-1.2,4.2-1.3,5.6,0.4c1.4,1.7,0.6,4.6-0.5,5.9
      C180.9,76.2,176.1,74.8,171.7,77.1z"/>
      <path id="Particle_4_" class="st5" d="M203.7,86c4.1-3.6,8.1-3.9,10.1-6.4c1.2-1.5,1.3-4.2-0.4-5.6c-1.7-1.4-4.6-0.6-5.9,0.5
      C204.7,76.8,206.1,81.6,203.7,86z"/>
      <path id="Particle_13_" class="st2" d="M221.7,107.9c5.1-2,7.1-5.5,10.3-6.1c1.9-0.4,4.4,0.7,4.8,2.9c0.5,2.2-1.5,4.4-3.1,5.1
      C230.3,111.2,226.7,107.8,221.7,107.9z"/>
      <path id="Particle_11_" class="st3" d="M205,131.4c5.4,0,8.6-2.4,11.8-1.8c1.9,0.4,3.8,2.3,3.4,4.5c-0.4,2.2-3.1,3.5-4.8,3.5
      C211.7,137.6,209.6,133.1,205,131.4z"/>
      <path id="Particle_12_" class="st4" d="M205,169.9c3.9-0.3,4.3-2.9,7.4-2c1.8,0.5,3.6,2.6,3,4.8c-0.6,2.2-3.4,3.2-5,3.1
      C206.6,175.5,208,172,205,169.9z"/>
      <path id="Particle_5_" class="st1" d="M184.6,187.1c4.1,3.6,8.1,3.9,10.1,6.4c1.2,1.5,1.3,4.2-0.4,5.6c-1.7,1.4-4.6,0.6-5.9-0.5
      C185.5,196.3,186.9,191.5,184.6,187.1z"/>
      <path id="Particle_8_" class="st2" d="M155.5,193.1c2,5.1,5.5,7.1,6.1,10.3c0.4,1.9-0.7,4.4-2.9,4.8c-2.2,0.5-4.4-1.5-5.1-3.1
      C152.2,201.7,155.7,198.1,155.5,193.1z"/>
      <path id="Particle_6_" class="st3" d="M129.4,214.1c0,5.4,2.4,8.6,1.8,11.8c-0.4,1.9-2.3,3.8-4.5,3.4c-2.2-0.4-3.5-3.1-3.5-4.8
      C123.1,220.9,127.7,218.8,129.4,214.1z"/>
      <path id="Particle_7_" class="st4" d="M111.3,197.4c0.3,3.9,2.9,4.3,2,7.4c-0.5,1.8-2.6,3.6-4.8,3c-2.2-0.6-3.2-3.4-3.1-5
      C105.8,199.1,109.2,200.4,111.3,197.4z"/>
      <path id="Particle_14_" class="st1" d="M85.6,191.1c-3.6,4.1-3.9,8.1-6.4,10.1c-1.5,1.2-4.2,1.3-5.6-0.4s-0.6-4.6,0.5-5.9
      C76.4,192.1,81.2,193.5,85.6,191.1z"/>
      <path id="Particle_9_" class="st5" d="M73.7,165.1c-4.1,3.6-8.1,3.9-10.1,6.4c-1.2,1.5-1.3,4.2,0.4,5.6c1.7,1.4,4.6,0.6,5.9-0.5
      C72.8,174.3,71.4,169.5,73.7,165.1z"/>
      <path id="Particle_17_" class="st2" d="M55.1,150c-5.1,2-7.1,5.5-10.3,6.1c-1.9,0.4-4.4-0.7-4.8-2.9c-0.5-2.2,1.5-4.4,3.1-5.1
      C46.6,146.7,50.2,150.1,55.1,150z"/>
      <path id="Particle_15_" class="st3" d="M59.4,114.8c-5.4,0-8.6,2.4-11.8,1.8c-1.9-0.4-3.8-2.3-3.4-4.5c0.4-2.2,3.1-3.5,4.8-3.5
      C52.7,108.5,54.8,113.1,59.4,114.8z"/>
      <path id="Particle_16_" class="st4" d="M82.6,93.7c-3.9,0.3-4.3,2.9-7.4,2c-1.8-0.5-3.6-2.6-3-4.8s3.4-3.2,5-3.1
      C81,88.2,79.7,91.6,82.6,93.7z"/>
    </g>
    <g id="Circle">
      <circle cx="134.7" cy="131.1" r="52"/>
    </g>
    <path id="Heart_2_" class="st7" d="M131.9,110.7c-6.8-6.3-17.4-6-23.7,0.8c-6.3,6.8-6,17.4,0.8,23.7l14.4,13.5l11.5,10.7l11.5-10.7
    l14.4-13.5c6.8-6.3,7.1-16.9,0.8-23.7c-6.3-6.8-16.9-7.1-23.7-0.8l-2.9,2.7"/>
  </svg>
</div>

          <div class="topbar" style="width:100%; height:75px; position:fixed; z-index:1; background-color:white; box-shadow:0 1px 4px 1px rgba(0, 0, 0, 0.14) !important; top:99px">
            <div id="listing_actions-2" class="widget  widget_listing_actions">
                    <div class="single-action-buttons" style="justify-content:unset; float:right">

                      <a href="#borrow">
                        <div class="job-manager-form action--favorite  action  wp-job-manager-bookmarks-form lwa" style="font-size:1em; margin-right:20px; margin-top:20px; padding-left:20px; border-left: 1px solid rgba(0, 0, 0, 0.25)">
                        <span class="action__icon">
                          <svg width="15" height="16" viewBox="0 0 15 16" style="left:42%;top:46%" xmlns="http://www.w3.org/2000/svg"><path xmlns="http://www.w3.org/2000/svg" d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z" fill="currentColor" fill-rule="evenodd"></path></svg>
                        </span>
                        <div class="action__text lwa-links-modal lwa-login-link" style="font-family:'Circular Std Book">
                          Borrow a copy
                        </div>
                      </div>
                    </a>

                      <a href="#rev" class="action  action--review" style="font-size:1em; margin-right:20px; margin-top:20px">
                        <span class="action__icon">

                          <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <defs>
                            <path id="path-1" d="M10.617312,14.9553574 L7.40104003,12.5799081 L4.18357469,14.9553574 C3.98595869,15.1007054 3.75206536,15.1754081 3.51888803,15.1754081 C3.28857469,15.1754081 3.05826136,15.1035694 2.86160003,14.9598921 C2.46636803,14.6737307 2.30216536,14.1646547 2.45706003,13.7014027 L3.72127736,9.9068414 L0.46848936,7.58079607 C0.0713480263,7.29654407 -0.0954799737,6.78842274 0.054402693,6.32421607 C0.204524026,5.86263474 0.634362693,5.55117474 1.11909469,5.55117474 C1.12100403,5.55117474 5.12606936,5.5829174 5.12606936,5.5829174 L6.33252936,1.76997874 C6.47883203,1.30457874 6.91153469,0.988584071 7.39913069,0.988584071 C7.88672669,0.988584071 8.31919069,1.3055334 8.46477736,1.76997874 L9.67099869,5.5829174 L13.6686654,5.55117474 C14.1619894,5.55117474 14.5944534,5.86263474 14.7409947,6.32421607 C14.8927867,6.7893774 14.727868,7.2955894 14.329772,7.58079607 L11.0788934,9.9068414 L12.34502,13.7014027 C12.4977667,14.1637001 12.3338027,14.6727761 11.941196,14.9598921 C11.7454894,15.1026147 11.5132667,15.1754081 11.2819987,15.1754081 C11.0471507,15.1754081 10.8139734,15.1007054 10.617312,14.9553574 Z">
                            </path>
                          </defs>
                          <g id="Page---Listing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Icon-Slicing" transform="translate(0.000000, -1.000000)">
                              <g id="Imported-Layers-Copy">
                                <use fill="currentColor" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <use fill="none" xlink:href="#path-1"></use>
                              </g>
                            </g>
                          </g>
                          </svg>

                        </span>

                        <span class="action__text" style="font-family:'Circular Std Book'">Write a review</span>
                        <span class="action__text--mobile" style="font-family:'Circular Std Book">Review</span>
                      </a>

                      <div class="action  action--share  tooltip-container addFave2" switch="off">
                        <a  class="tooltip-trigger  js-tooltip-trigger" style="font-size:1em; margin-right:20px; margin-top:20px">
                          <span class="action__icon">
                            <svg width="15" height="16" viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg"><path d="M12.67 8.552c1.626-1.625 1.59-3.995.113-5.465-1.478-1.47-3.868-1.464-5.338.014-1.47-1.474-3.86-1.48-5.338-.01C.63 4.558.595 6.928 2.22 8.55l5.225 5.226c.51-.508 3.41-3.412 5.225-5.226z" fill="currentColor" fill-rule="evenodd"></path></svg>
                          </span>
                          <span class="action__text  myFave1" style="font-family:'Circular Std Book">Add to favorites</span>
                          <span class="action__text--mobile" style="font-family:'Circular Std Book">Add to favorites</span>
                        </a>

                        <div class="sharedaddy sd-sharing-enabled">
                          <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
                            <h3 class="sd-title">Share this:</h3>
                            <div class="sd-content">
                              <ul>
                                <li class="share-twitter">
                                  <a rel="nofollow" data-shared="sharing-twitter-128" class="share-twitter sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=twitter" target="_blank" title="Click to share on Twitter"><span>Twitter</span></a>
                                </li>
                                <li class="share-facebook">
                                  <a rel="nofollow" data-shared="sharing-facebook-128" class="share-facebook sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=facebook" target="_blank" title="Click to share on Facebook"><span>Facebook</span></a>
                                </li>
                                <li class="share-google-plus-1">
                                  <a rel="nofollow" data-shared="sharing-google-128" class="share-google-plus-1 sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=google-plus-1" target="_blank" title="Click to share on Google+"><span>Google</span></a>
                                </li>
                                <li class="share-end"></li>
                              </ul>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="action  action--share  tooltip-container" id="share-this">
                        <a class="tooltip-trigger  js-tooltip-trigger" style="font-size:1em; margin-right:20px; margin-top:20px">
                          <span class="action__icon">
                            <svg width="15px" height="16px" viewBox="0 0 15 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <defs></defs>
                              <g id="Page---Listing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Icon-Slicing" transform="translate(-36.000000, 0.000000)" fill="currentColor">
                                  <path d="M36,14.5981841 C36,4.64082407 44.3594,4.68562407 44.3594,4.68562407 L44.3594,1.48858407 L50.93716,7.15298407 L44.3594,12.6799041 L44.3594,9.39522407 C44.3594,9.39522407 39.24296,7.92970407 36,14.5981841 L36,14.5981841 Z" id="Imported-Layers-Copy-8"></path>
                                </g>
                              </g>
                            </svg>
                          </span>
                          <span class="action__text" style="font-family:'Circular Std Book">Share</span>
                          <span class="action__text--mobile" style="font-family:'Circular Std Book">Share</span>
                        </a>

                        <div class="sharedaddy sd-sharing-enabled">
                          <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
                            <h3 class="sd-title">Share this:</h3>
                            <div class="sd-content">
                              <ul>
                                <li class="share-twitter">
                                  <a rel="nofollow" data-shared="sharing-twitter-128" class="share-twitter sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=twitter" target="_blank" title="Click to share on Twitter"><span>Twitter</span></a>
                                </li>
                                <li class="share-facebook">
                                  <a rel="nofollow" data-shared="sharing-facebook-128" class="share-facebook sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=facebook" target="_blank" title="Click to share on Facebook"><span>Facebook</span></a>
                                </li>
                                <li class="share-google-plus-1">
                                  <a rel="nofollow" data-shared="sharing-google-128" class="share-google-plus-1 sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=google-plus-1" target="_blank" title="Click to share on Google+"><span>Google</span></a>
                                </li>
                                <li class="share-end"></li>
                              </ul>
                            </div>
                          </div>
                        </div>

                      </div>


                    </div>

                  </div>

                  <article class="module desktop-3 tablet-4" style="padding:0; width:7%">
                    <div class="brand" style="background-color:white; position:relative; z-index:5; width:70px; height:75px; margin-left:20px">
                      <a href="#upper"><img src="/uploads/<%=photo%>" alt="" style="width: 90px; height: 75px;"></a>
                    </div>
                  </article>

                  <article class="module desktop-3 tablet-4" style="padding:0; width:25%">
                  <a href="#upper"><h1 class="entry-title" itemprop="name" style="font-family:'Circular Std Book'; color:white; font-weight:700; color: #413d3d; padding-top:12px; font-size:1.2em; width:400px; cursor:pointer"><%=title%></h1></a>

                  <div class="single-meta" style="justify-content:unset">
                  <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id='special' itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                    <meta itemprop="ratingValue" content="3.00">
                  <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly=""></a>
                  <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                </div>
                  </article>
          </div>

          <header class="entry-header" style="margin-top:100px; padding-top:0px; padding-bottom:0px">
            <div class="grid1" style="height:590px; padding-right:0; margin-left:7%">
	              <article class="module desktop-3 tablet-4" style="background-color:white; height:500px; padding-left:50px;box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)">
                  <h1 class="entry-title" itemprop="name" style="text-transform:unset;font-family:'Circular Std Book'; color:#333333; font-weight:700; font-size:3em">Harry Potter and the Philosopher Stone</h1>
                <span class="entry-subtitle" itemprop="description" style="font-family: 'Circular Std Book'; font-size:1.3em; color:#333333">By: JK Rowling</span>

                <div class="single-meta" style="justify-content:unset">
                  <a href="#comments" class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" style="padding:0">
                    <meta itemprop="ratingValue" content = "3.00">
                  </a>
                  <a class="listing-contact" style="color:#333333">3 Stars</a>
                </div>
                <ul class="tags" style="padding-left:0;margin-top:20px;margin-bottom:71px">
                   <li><a style="color:white; margin-left:10px">Mystery</a></li>
                   <li><a style="color:white">Drama</a></li>
                </ul>
                <div class="stats">

                  <div class="stat">
                    <h4>Recognitions</h4>
                    <p><i class="fa fa-trophy" style="color:#ecd34a; cursor:pointer" id="troph"></i>+5</p>
                  </div>

                  <div class="stat">
                    <h4>Favorites</h4>
                    <p><i class="fa fa-heart" style="padding:0; position:unset;color:#c55252"></i>+30</p>
                  </div>
                </div>

                <div class="trophy-cart">
                  <article class="module desktop-3 tablet-4" style="padding:0; width:30%">
                    <div class="brand" style="background-color:#f6f6f6;; position:relative; z-index:5; width:70px; height:75px; margin-left:0px">
                      <img src="images/bookResult/sample1.png" alt="" style="width: 90px; height: 75px;">
                    </div>
                  </article>
                  <article class="module desktop-3 tablet-4" style="padding:0; width:30%">
                    <div class="brand" style="background-color:#f6f6f6;; position:relative; z-index:5; width:70px; height:75px; margin-left:0px">
                      <img src="images/bookResult/sample2.png" alt="" style="width: 90px; height: 75px;">
                    </div>
                  </article>
                  <article class="module desktop-3 tablet-4" style="padding:0; width:30%">
                    <div class="brand" style="background-color:#f6f6f6;; position:relative; z-index:5; width:70px; height:75px; margin-left:0px">
                      <img src="images/bookResult/sample3.png" alt="" style="width: 90px; height: 75px;">
                    </div>
                  </article>
                  <article class="module desktop-3 tablet-4" style="padding:0; width:30%">
                    <div class="brand" style="background-color:#f6f6f6;; position:relative; z-index:5; width:70px; height:75px; margin-left:0px">
                      <img src="images/bookResult/sample4.png" alt="" style="width: 90px; height: 75px;">
                    </div>
                  </article>
                  <article class="module desktop-3 tablet-4" style="padding:0; width:30%">
                    <div class="brand" style="background-color:#f6f6f6;; position:relative; z-index:5; width:70px; height:75px; margin-left:0px">
                      <img src="images/bookResult/sample5.png" alt="" style="width: 90px; height: 75px;">
                    </div>
                  </article>
                </div>
              </article>
	              <article class="module desktop-3 tablet-4" style="padding-top: 0;height: 500px; width: 470px; padding: 0; margin-left:0; background-color: #f9f9f9;box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)"><img style="height:500px;width:470px" src="/uploads/<%=photo%>" alt=""></article>
              </div>
          </header><!-- .entry-header -->

          <div class="single_job_listing">


            <div class="grid">
              <div class="">

                <div class="listing-sidebar  listing-sidebar--main">
                  <div id="listing_actions-2" class="widget  widget_listing_actions">
                    <div class="single-action-buttons">

                      <a href="#borrow">
                        <div class="job-manager-form action--favorite  action  wp-job-manager-bookmarks-form lwa" style="font-size:1.3em">
                        <span class="action__icon">
                          <svg width="15" height="16" viewBox="0 0 15 16"  style="left:42%;top:46%" xmlns="http://www.w3.org/2000/svg"><path xmlns="http://www.w3.org/2000/svg" d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z" fill="currentColor" fill-rule="evenodd"></path></svg>
                        </span>
                        <div class="action__text lwa-links-modal lwa-login-link" style="font-family:'Circular Std Book">
                          Borrow a copy
                        </div>
                      </div>
                    </a>

                      <a href='#rev' class="action  action--review" style="font-size:1.3em">
                        <span class="action__icon">

                          <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <defs>
                            <path id="path-1" d="M10.617312,14.9553574 L7.40104003,12.5799081 L4.18357469,14.9553574 C3.98595869,15.1007054 3.75206536,15.1754081 3.51888803,15.1754081 C3.28857469,15.1754081 3.05826136,15.1035694 2.86160003,14.9598921 C2.46636803,14.6737307 2.30216536,14.1646547 2.45706003,13.7014027 L3.72127736,9.9068414 L0.46848936,7.58079607 C0.0713480263,7.29654407 -0.0954799737,6.78842274 0.054402693,6.32421607 C0.204524026,5.86263474 0.634362693,5.55117474 1.11909469,5.55117474 C1.12100403,5.55117474 5.12606936,5.5829174 5.12606936,5.5829174 L6.33252936,1.76997874 C6.47883203,1.30457874 6.91153469,0.988584071 7.39913069,0.988584071 C7.88672669,0.988584071 8.31919069,1.3055334 8.46477736,1.76997874 L9.67099869,5.5829174 L13.6686654,5.55117474 C14.1619894,5.55117474 14.5944534,5.86263474 14.7409947,6.32421607 C14.8927867,6.7893774 14.727868,7.2955894 14.329772,7.58079607 L11.0788934,9.9068414 L12.34502,13.7014027 C12.4977667,14.1637001 12.3338027,14.6727761 11.941196,14.9598921 C11.7454894,15.1026147 11.5132667,15.1754081 11.2819987,15.1754081 C11.0471507,15.1754081 10.8139734,15.1007054 10.617312,14.9553574 Z">
                            </path>
                          </defs>
                          <g id="Page---Listing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Icon-Slicing" transform="translate(0.000000, -1.000000)">
                              <g id="Imported-Layers-Copy">
                                <use fill="currentColor" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <use fill="none" xlink:href="#path-1"></use>
                              </g>
                            </g>
                          </g>
                          </svg>

                        </span>

                        <span class="action__text" style="font-family:'Circular Std Book'" >Write a review</span>
                        <span class="action__text--mobile" style="font-family:'Circular Std Book">Review</span>
                      </a>

                      <div class="action  action--share  tooltip-container addFave2" switch="off">
                        <a  class="tooltip-trigger  js-tooltip-trigger" style="font-size:1.3em">
                          <span class="action__icon">
                            <svg width="15" height="16" viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg"><path d="M12.67 8.552c1.626-1.625 1.59-3.995.113-5.465-1.478-1.47-3.868-1.464-5.338.014-1.47-1.474-3.86-1.48-5.338-.01C.63 4.558.595 6.928 2.22 8.55l5.225 5.226c.51-.508 3.41-3.412 5.225-5.226z" fill="currentColor" fill-rule="evenodd"></path></svg>
                          </span>
                          <span class="action__text myFave1" style="font-family:'Circular Std Book">Add to favorites</span>
                          <span class="action__text--mobile" style="font-family:'Circular Std Book">Add to favorites</span>
                        </a>

                        <div class="sharedaddy sd-sharing-enabled">
                          <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
                            <h3 class="sd-title">Share this:</h3>
                            <div class="sd-content">
                              <ul>
                                <li class="share-twitter">
                                  <a rel="nofollow" data-shared="sharing-twitter-128" class="share-twitter sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=twitter" target="_blank" title="Click to share on Twitter"><span>Twitter</span></a>
                                </li>
                                <li class="share-facebook">
                                  <a rel="nofollow" data-shared="sharing-facebook-128" class="share-facebook sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=facebook" target="_blank" title="Click to share on Facebook"><span>Facebook</span></a>
                                </li>
                                <li class="share-google-plus-1">
                                  <a rel="nofollow" data-shared="sharing-google-128" class="share-google-plus-1 sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=google-plus-1" target="_blank" title="Click to share on Google+"><span>Google</span></a>
                                </li>
                                <li class="share-end"></li>
                              </ul>
                            </div>
                          </div>
                        </div>

                      </div>


                      <div class="action  action--share  tooltip-container" id="share-here">
                        <a class="tooltip-trigger  js-tooltip-trigger" style="font-size:1.3em">
                          <span class="action__icon">
                            <svg width="15px" height="16px" viewBox="0 0 15 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <defs></defs>
                              <g id="Page---Listing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Icon-Slicing" transform="translate(-36.000000, 0.000000)" fill="currentColor">
                                  <path d="M36,14.5981841 C36,4.64082407 44.3594,4.68562407 44.3594,4.68562407 L44.3594,1.48858407 L50.93716,7.15298407 L44.3594,12.6799041 L44.3594,9.39522407 C44.3594,9.39522407 39.24296,7.92970407 36,14.5981841 L36,14.5981841 Z" id="Imported-Layers-Copy-8"></path>
                                </g>
                              </g>
                            </svg>
                          </span>
                          <span class="action__text" style="font-family:'Circular Std Book">Share</span>
                          <span class="action__text--mobile" style="font-family:'Circular Std Book">Share</span>
                        </a>

                        <div class="sharedaddy sd-sharing-enabled">
                          <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
                            <h3 class="sd-title">Share this:</h3>
                            <div class="sd-content">
                              <ul>
                                <li class="share-twitter">
                                  <a rel="nofollow" data-shared="sharing-twitter-128" class="share-twitter sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=twitter" target="_blank" title="Click to share on Twitter"><span>Twitter</span></a>
                                </li>
                                <li class="share-facebook">
                                  <a rel="nofollow" data-shared="sharing-facebook-128" class="share-facebook sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=facebook" target="_blank" title="Click to share on Facebook"><span>Facebook</span></a>
                                </li>
                                <li class="share-google-plus-1">
                                  <a rel="nofollow" data-shared="sharing-google-128" class="share-google-plus-1 sd-button share-icon" href="https://demos.pixelgrade.com/listable/listings/jago/?share=google-plus-1" target="_blank" title="Click to share on Google+"><span>Google</span></a>
                                </li>
                                <li class="share-end"></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <h1 class="entry-title" itemprop="name" style="font-family:'Circular Std Book'; color:white; font-weight:700; color: #413d3d; border-top:1px solid rgba(0, 0, 0, 0.075); padding-top:15px; font-size:2.3em">Synopsis</h1>

                  <div id="listing_content-2" class="widget  widget_listing_content">
                    <div class="job_description" itemprop="description">
                      <p style="text-align:justify"><%=description%></p>
                    </div>
                    <div id="borrow">

                    </div>
                  </div>

                  <h1 class="entry-title" itemprop="name" style="font-family:'Circular Std Book'; color:white; font-weight:700; color: #413d3d; border-top:1px solid rgba(0, 0, 0, 0.075); padding-top:15px; font-size:2.3em">Borrow a copy</h1>
                  <div id='marker'>

                  </div>

                  <div id="listing_comments-2" class="widget  widget_listing_comments">
                    <div id="comments" class="comments-area">
                      <div class="" style="height:100%; width:100%; box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)">
                        <div id="panel" style="width: 370px; float: left; padding:10px; background-color:#f9f9f9">
                        <div class="dropdown" style="text-align:center">
                        <div class="select" style="background-color: #5d9cec; border-bottom: solid #ececec;">
                          <span style="font-size:1.5em; font-weight:600; color:white">Sort by: </span><span id="changeThis" style="font-size:1.5em; font-weight:600; color:white">Most Rated</span>
                          <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                          <ul class="dropdown-menu">
                            <li id="male">Most Rated</li>
                            <li id="female">Price</li>
                            <li id="female">Alphabetical</li>
                          </ul>
                        </div>

                        ​<div class="container5">

                          <div class="card-media">
                            <!-- media container -->
                            <div class="card-media-object-container">
                              <div class="card-media-object" style="background-image: url('images/bookPreview/sample2.jpg');"></div>
                              <span class="card-media-object-tag subtle">For Rent</span>
                              <ul class="card-media-object-social-list">
                                <li>
                                  <img src="https://s10.postimg.org/3rjjbzcvd/profile_f.jpg" class="">
                                </li>
                                <li>
                                  <img src="https://s16.postimg.org/b0j0djh79/profile_0_f.jpg" class="">
                                </li>
                                <li class="card-media-object-social-list-item-additional">
                                  <span>+5</span>
                                </li>
                              </ul>
                            </div>
                            <!-- body container -->
                            <div class="card-media-body" num="0">
                              <div class="card-media-body-top">
                                <span class="subtle">Matthew Alviz</span>
                              </div>
                              <div class="single-meta" style="justify-content:unset">
                                <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                                  <meta itemprop="ratingValue" content="3.00">
                                  <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                  <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                              </div>
                              <span class="card-media-body-heading">Slightly scratched, Prefers meet-up rather than delivery.</span>
                              <div class="card-media-body-supporting-bottom">
                                <span class="card-media-body-supporting-bottom-text subtle">Salcedo Village, Makati City</span>
                              </div>
                              <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                <!--<span class="card-media-body-supporting-bottom-text subtle">1.2 km away</span>-->
                                <a class="card-media-body-supporting-bottom-text card-media-link u-float-right">VIEW ROUTE</a>
                              </div>
                            </div>
                          </div>

                          <div class="card-media">
                            <!-- media container -->
                            <div class="card-media-object-container">
                              <div class="card-media-object" style="background-image: url('images/bookPreview/sample3.png');"></div>
                              <span class="card-media-object-tag subtle">Advertised</span>
                            </div>
                            <!-- body container -->
                            <div class="card-media-body" num="1">
                              <div class="card-media-body-top">
                                <span class="subtle">Makati Public lib</span>
                              </div>
                              <div class="single-meta" style="justify-content:unset">
                                <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                                  <meta itemprop="ratingValue" content="3.00">
                                  <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                  <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                              </div>
                              <span class="card-media-body-heading">Limited Ed. Five copies on the shelf.</span>
                              <div class="card-media-body-supporting-bottom">
                                <span class="card-media-body-supporting-bottom-text subtle">HV Dela Costa Street, Makati City</span>
                              </div>
                              <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                <!--<span class="card-media-body-supporting-bottom-text subtle">500 m away</span>-->
                                <a class="card-media-body-supporting-bottom-text card-media-link u-float-right">VIEW ROUTE</a>
                              </div>
                            </div>
                          </div>

                          <div class="card-media">
                            <!-- media container -->
                            <div class="card-media-object-container">
                              <div class="card-media-object" style="background-image: url('images/bookPreview/sample4.jpg');"></div>
                              <span class="card-media-object-tag subtle">For Rent</span>
                              <ul class="card-media-object-social-list">
                                <li>
                                  <img src="https://s10.postimg.org/3rjjbzcvd/profile_f.jpg" class="">
                                </li>
                                <li>
                                  <img src="https://s16.postimg.org/b0j0djh79/profile_0_f.jpg" class="">
                                </li>
                                <li class="card-media-object-social-list-item-additional">
                                  <span>+5</span>
                                </li>
                              </ul>
                            </div>
                            <!-- body container -->
                            <div class="card-media-body" num="2">
                              <div class="card-media-body-top">
                                <span class="subtle">Anton Macrohon</span>
                              </div>
                              <div class="single-meta" style="justify-content:unset">
                                <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                                  <meta itemprop="ratingValue" content="3.00">
                                  <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                  <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                              </div>
                              <span class="card-media-body-heading">Good quality. Prefers meet-up</span>
                              <div class="card-media-body-supporting-bottom">
                                <span class="card-media-body-supporting-bottom-text subtle">HV Dela Costa Street, Makati City</span>
                              </div>
                              <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                <!--<span class="card-media-body-supporting-bottom-text subtle">350 m away</span>-->
                                <a class="card-media-body-supporting-bottom-text card-media-link u-float-right">VIEW ROUTE</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                        <div id="map-canvas" style="height: 500px;"></div>
                    </div>


                    <h1 class="entry-title" itemprop="name" style="font-family:'Circular Std Book'; color:white; font-weight:700; color: #413d3d; border-top:1px solid rgba(0, 0, 0, 0.075); padding-top:15px; font-size:2.3em; margin-bottom:40px; margin-top:40px">3 Reviews for this copy</h1>


                      <ol class="comment-list">
                        <li class="comment even thread-even depth-1" id="li-comment-33" itemprop="review" itemscope itemtype="http://schema.org/Review" style="border:unset; margin-bottom:20px">
                          <div class="comment-wrapper" id="div-comment-33" style="background-color: white; padding:20px; border-radius: 4px;">
                            <header class="comment-header" style="z-index:0">
                              <div class="comment-author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <img src="images/bookPreview/profpic1.jpg" width="75" height="75" alt="" class="avatar avatar-75wp-user-avatar wp-user-avatar-75 alignnone photo avatar-default" /><span class="fn">John Doe</span>
                              </div><!-- .comment-author .vcard -->
                            </header>

                            <div class="comment-content" itemprop="reviewBody">
                              <h3 class="pixrating_title">Good Quality Shit!</h3>
                              <div class="review_rate" data-pixrating="5"></div>
                              <div class="comment-meta commentmetadata" itemprop="datePublished" content = "2015-11-06T17:12:39+0000">
                                <a>
                                  <time pubdate datetime="2015-11-06T17:12:39+00:00">on November 6, 2018</time><br />
                                </a>
                              </div>
                              <p>a smart move on the part of filmmakers, who knew any significant departure would quickly alienate the target audience. The masterfully made film offers virtually no surprises. That leaves us dealing with the same questions that have been lurking since the first copy of J.K. Rowling’s book rolled off the press. Is it fantasy magic or occult magic? Does the distinction even matter?</p>
                            </div>
                          </div>
                        </li><!-- #comment-## -->

                        <li class="comment even thread-even depth-1" id="li-comment-33" itemprop="review" itemscope itemtype="http://schema.org/Review" style="border:unset; margin-bottom:20px">
                          <div class="comment-wrapper" id="div-comment-33" style="background-color: white; padding:20px; border-top: 1px solid rgba(0, 0, 0, 0.075);border-radius: 4px;">
                            <header class="comment-header" style="z-index:0">
                              <div class="comment-author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <img src="images/bookPreview/profpic2.jpg" width="75" height="75" alt="" class="avatar avatar-75wp-user-avatar wp-user-avatar-75 alignnone photo avatar-default" /><span class="fn">Rasheed</span>
                              </div><!-- .comment-author .vcard -->
                            </header>

                            <div class="comment-content" itemprop="reviewBody">
                              <h3 class="pixrating_title">Impressive!</h3>
                              <div class="review_rate" data-pixrating="5"></div>
                              <div class="comment-meta commentmetadata" itemprop="datePublished" content = "2015-11-06T17:12:39+0000">
                                <a>
                                  <time pubdate datetime="2015-11-06T17:12:39+00:00">on October 12, 2018</time><br />
                                </a>
                              </div>
                              <p>The start to the Harry Potter book series is filled with visual splendor, valiant heroes, spectacular special effects, and irresistible characters. It's only fair to say that it's truly magical. The settings manage to be sensationally imaginative and yet at the same time so clearly believable and lived-in</p>
                            </div>
                          </div>
                        </li><!-- #comment-## -->

                        <li class="comment even thread-even depth-1" id="li-comment-33" itemprop="review" itemscope itemtype="http://schema.org/Review" style="border:unset; margin-bottom:20px">
                          <div class="comment-wrapper" id="div-comment-33" style="background-color: white; padding:20px; border-top: 1px solid rgba(0, 0, 0, 0.075);border-radius: 4px;">
                            <header class="comment-header" style="z-index:0">
                              <div class="comment-author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <img src="images/bookPreview/profpic3.jpg" width="75" height="75" alt="" class="avatar avatar-75wp-user-avatar wp-user-avatar-75 alignnone photo avatar-default" /><span class="fn">Duvi</span>
                              </div><!-- .comment-author .vcard -->
                            </header>

                            <div class="comment-content" itemprop="reviewBody">
                              <h3 class="pixrating_title">It's a so-so</h3>
                              <div class="review_rate" data-pixrating="5"></div>
                              <div class="comment-meta commentmetadata" itemprop="datePublished" content = "2015-11-06T17:12:39+0000">
                                <a>
                                  <time pubdate datetime="2015-11-06T17:12:39+00:00">on August 20, 2018</time><br />
                                </a>
                              </div>
                              <p>Harry Potter and the Sorcerer Stone is very much a Potter book – it has all the plot twists and turns and characters and quotes that stay with you long after you have read the book. For anyone who tells you otherwise – don’t let them.</p>
                            </div>
                          </div>
                        </li><!-- #comment-## -->
                      </ol><!-- .comment-list -->

                      <div id="rev">

                      </div>

                      <h1 class="entry-title" itemprop="name" style="font-family:'Circular Std Book'; color:white; font-weight:700; color: #413d3d; border-top:1px solid rgba(0, 0, 0, 0.075); padding-top:15px; font-size:2.3em; margin-bottom:40px; margin-top:40px">Rate and write a review for this copy</h1>
                      <div id="respond" class="comment-respond">
                        <form action=" " method="post" id="commentform" class="comment-form" novalidate>
                          <p class="review-title-form">
                            <label for="pixrating_title">Title of your review</label>
                            <input type='text' id='pixrating_title' name='pixrating_title' value="" placeholder="Summarize your opinion or highlight an interesting detail" size='25'/>
                          </p>

                          <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked
                            <span class="required">*</span>
                          </p>
                          <p class="comment-form-comment">
                            <label for="pixrating_title">Your review</label>
                            <textarea id="comment" name="comment" cols="45" rows="8"  aria-required="true" required="required" placeholder="Tell about Harry Potter and the Philosopher Stone"></textarea>
                          </p>

                          <p class="comment-form-url">
                            <label for="url">Website</label>
                            <input id="url" name="url" type="url" value="" size="30" maxlength="200" />
                          </p>

                          <div id="add_comment_rating_wrap">
                            <label for="add_post_rating">Your overall rating of this listing</label>

                            <div id="add_post_rating" data-pixrating="4" style="background-color:white" data-assets_path="https://demos.pixelgrade.com/wp-content/plugins/comments-ratings//images"></div>
                          </div>

                          <p class="form-submit">
                            <input name="submit" type="submit" id="submit" style="font-family:'Circular Std Book'" value="Submit your Review" />
                            <input type='hidden' name='comment_post_ID' value='128' id='comment_post_ID' />
                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                          </p>
                          <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="f1e3d1018c" /></p>
                          <p class="comment-subscription-form"><input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;" />
                            <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me of new posts by email.</label>
                          </p>
                          <p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="134"/></p>
                        </form>
                      </div><!-- #respond -->
                    </div><!-- #comments -->
                  </div>
                </div>
              </div> <!-- / .column-1 -->

            </div>
          </div>
        </div><!-- .entry-content -->


        <div class="single-listing-map-category-icon">
          <svg width="24" height="26" viewBox="0 0 24 26" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-12 -11)" fill="none" fill-rule="evenodd"><circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"/>
            <g fill="currentColor">
              <path d="M18.372 36.737h-.036c-1.278 0-2.32-1.04-2.32-2.32V24.244c0-.836-.37-1.644-1.04-2.278-1.237-1.163-1.946-2.882-1.946-4.715 0-3.367 2.39-6.106 5.325-6.106 2.938 0 5.325 2.74 5.325 6.106 0 1.833-.71 3.552-1.946 4.715-.672.634-1.043 1.442-1.043 2.278v10.17c0 1.282-1.04 2.322-2.318 2.322zm-.02-24.55c-2.363 0-4.285 2.273-4.285 5.065 0 1.547.59 2.99 1.617 3.96.884.83 1.37 1.907 1.37 3.033v10.17c0 .707.575 1.282 1.28 1.282h.036c.706 0 1.28-.575 1.28-1.28V24.244c0-1.126.487-2.202 1.37-3.034 1.03-.968 1.62-2.41 1.62-3.958.002-2.794-1.922-5.066-4.287-5.066zM29.983 36.737h-.036c-1.28 0-2.32-1.04-2.32-2.32V24.244c0-.836-.37-1.644-1.04-2.278-1.237-1.163-1.946-2.882-1.946-4.715 0-1.406 0-3.155 1.094-4.374.21-.23.49-.357.797-.357.582 0 1.056.46 1.077 1.033l.448 3.343c.01.072.127.053.133-.002l.46-4.1c.015-.487.364-.91.843-1.017.04-.007.075-.013.113-.013h.728c.04 0 .077.004.113.013.478.106.828.53.843 1.016l.46 4.1c.01.075.125.056.132.003l.45-3.343c.02-.572.495-1.032 1.075-1.032.307 0 .588.127.796.358 1.093 1.22 1.093 2.968 1.093 4.374 0 1.833-.71 3.552-1.945 4.715-.67.634-1.042 1.444-1.042 2.278v10.17c-.002 1.282-1.042 2.322-2.323 2.322zm-3.865-23.512l.386.347c-.766.854-.826 2.118-.826 3.68 0 1.547.59 2.99 1.617 3.96.883.83 1.37 1.907 1.37 3.033v10.17c0 .707.575 1.282 1.28 1.282h.036c.706 0 1.282-.575 1.282-1.28V24.244c0-1.126.486-2.202 1.37-3.034 1.028-.968 1.617-2.41 1.617-3.958 0-1.562-.062-2.826-.828-3.68 0 .023-.062.067-.066.09l-.452 3.372c-.072.545-.542.956-1.092.956-.57 0-1.042-.42-1.105-.978l-.46-4.126c-.003-.02-.005-.038-.005-.06l.004-.02h-.533c-.008.023-.03.063-.03.08l-.462 4.126c-.062.557-.533.978-1.095.978-.56 0-1.03-.41-1.1-.956l-.453-3.373c-.003-.02-.003-.044-.003-.067l-.452-.368z"/><path d="M18.397 21.105c-1.72 0-3.118-1.67-3.118-3.723 0-2.054 1.397-3.724 3.117-3.724.216 0 .39.174.39.39 0 .215-.174.39-.39.39-1.29 0-2.338 1.32-2.338 2.944 0 1.623 1.046 2.944 2.337 2.944.216 0 .39.174.39.39 0 .215-.174.39-.39.39z"/>
            </g>
          </svg>
        </div>

      </div><!-- #content -->


  </div><!-- Page -->


  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyByOQKgQLsoRMCDQmvSpQSi5wrcaiBrB08&sensor=true"></script>
  <script type="text/javascript" src="js/bookResult/gmaps.js"></script>
  <script type="text/javascript">
    var map;
    var previous = $('.card-media-body');
    $(document).ready(function(){
      map = new GMaps({
        el: '#map-canvas',
        lat: 14.561734,
        lng: 121.019549,
        zoom: 16,
        panControl : false,
        streetViewControl : false,
        mapTypeControl: false,
        overviewMapControl: false,
      });

      map.addMarker({
        lat: 14.561734,
        lng: 121.019549,
        title: 'Marker',
        infoWindow: {
          content: '<span class="' + 'subtle"' + ' style=" font-weight: 600; margin-bottom:5px' + '">Matthew Alviz</span>' + '<br>'
          + '<span id="' + 'c_stars"' + 'data-star="' + '5"' + '><span style="' + 'width: 60px;"' + '></span></span>'
          + '<div class="' + 'c_num"' + '>&nbsp;&nbsp;5 Stars</div> <br>'
          + '<a class="' + 'card-media-body-supporting-bottom-text card-media-link" style=" width:100%; text-align:center' + '" num="'+'0"'+'>CONTACT ME</a>',
        },click: function(e){
          $('.card-media-body').each(function(){
            if($(this).find('.card-media-body-top').find('.subtle').text() == 'Matthew Alviz'){
              previous.removeAttr('style');
              $(this).attr('style', 'border-right: 3px solid #5d9cec;');
              previous = $(this);
              return false;
            }
          });
        }
      });

      map.addMarker({
        lat: 14.563066,
        lng: 121.019194,
        title: 'Marker with InfoWindow',
        infoWindow: {
          content: '<span class="' + 'subtle"' + ' style=" font-weight: 600; margin-bottom:5px' + '">Makati Public lib</span>' + '<br>'
          + '<span id="' + 'c_stars"' + 'data-star="' + '5"' + '><span style="' + 'width: 60px;"' + '></span></span>'
          + '<div class="' + 'c_num"' + '>&nbsp;&nbsp;5 Stars</div> <br>'
          + '<a class="' + 'card-media-body-supporting-bottom-text card-media-link" style=" width:100%; text-align:center' + '" num="'+'0"'+'>CONTACT ME</a>',
        },click: function(e){
          $('.card-media-body').each(function(){
            if($(this).find('.card-media-body-top').find('.subtle').text() == 'Makati Public lib'){
              previous.removeAttr('style');
              $(this).attr('style', 'border-right: 3px solid #5d9cec;');
              previous = $(this);
              return false;
            }
          });
        }
      });

      map.addMarker({
        lat: 14.561576,
        lng: 121.017939,
        title: 'Marker with InfoWindow',
        infoWindow: {
          content: '<span class="' + 'subtle"' + ' style=" font-weight: 600; margin-bottom:5px' + '">Anton Macrohon</span>' + '<br>'
          + '<span id="' + 'c_stars"' + 'data-star="' + '5"' + '><span style="' + 'width: 60px;"' + '></span></span>'
          + '<div class="' + 'c_num"' + '>&nbsp;&nbsp;5 Stars</div> <br>'
          + '<a class="' + 'card-media-body-supporting-bottom-text card-media-link" style=" width:100%; text-align:center' + '" num="'+'0"'+'>CONTACT ME</a>',
        },click: function(e){
          $('.card-media-body').each(function(){
            if($(this).find('.card-media-body-top').find('.subtle').text() == 'Anton Macrohon'){
              previous.removeAttr('style');
              $(this).attr('style', 'border-right: 3px solid #5d9cec;');
              previous = $(this);
              return false;
            }
          });
        }
      });

      $('.card-media-body').click(function() {
        previous.removeAttr('style');
        $(this).attr('style', 'border-right:3px solid #5d9cec;');
        map.hideInfoWindows();
        var num = $(this).attr('num');
        var name = $(this).find('.subtle').html();

        map.markers[num].infoWindow.open(map, map.markers[num]);
        previous = $(this);
      });
    });
  </script>
  <script type="text/javascript" src="js/bookPreview/filter.js"></script>
  <script type='text/javascript' src='https://demos.pixelgrade.com/listable/wp-includes/js/comment-reply.min.js?ver=4.9.4'></script>
  <script type='text/javascript' src='https://cdn.demos.pixelgrade.com/wp-content/plugins/comments-ratings/js/jquery.raty.js?ver=1518791654'></script>
  <script type='text/javascript'>
  /* <![CDATA[ */
    var pixreviews = {"hints":["Terrible","Poor","Average","Very Good","Exceptional"]};
  /* ]]> */
  </script>
  <script type='text/javascript' src='https://cdn.demos.pixelgrade.com/wp-content/plugins/comments-ratings/js/reviews.js?ver=1518791654'></script>
<script type='text/javascript' src='js/landingpage/search2.js'></script>
<script type='text/javascript' src='js/bookPreview/log-in.js'></script>
<script type='text/javascript' src='js/bookPreview/scroll.js'></script>
<script type='text/javascript' src='js/bookPreview/stars.js'></script>
<script type='text/javascript' src='js/bookPreview/heartAnim.js'></script>
<script type='text/javascript' src='js/bookPreview/trophy-cart.js'></script>
</body>
</html>
