<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="images/landingpage/BookHub_ico.png"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/fonts/CircularStdFont/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/landingpage/index.css">
    <link rel="stylesheet" href="css/landingpage/search.css">
    <link rel="stylesheet" href="css/landingpage/cardView.css">
    <link rel="stylesheet" href="css/landingpage/genre.css">
    <link rel="stylesheet" href="css/landingpage/search2.css">
    <link rel="stylesheet" href="css/landingpage/Premium.css">
    <link rel="stylesheet" href="css/landingpage/loading.css">
    <link rel="stylesheet" href="css/landingpage/cardView2.css">
  </head>
  <body style="overflow-x:hidden" id="hey">
    <div class="container-fluid splash" id="splash" style="padding-left: 0px; padding-right: 0px; height:630px;">
      <div class="container" style="padding-top: 0px;padding-bottom: 0px; height:630px">
        <div style="position:relative; z-index:2; color:white; height:100%; width:100%; background-image:url('images/landingpage/front.png'); background-size:cover">
          <h1 style="text-shadow:2px 2px 4px #363333a6; font-family: 'Comfortaa', Helvetica, sans-serif; padding-top:15%">Find The Books You Need</h1>
          <span class="lead" style="margin-bottom:80px; font-family: 'Comfortaa', Helvetica, sans-serif;">Find that elusive book. Help your fellows find theirs.</span>
          <div id="form-wrapper">
            <button class="go-button" onclick="document.getElementById('searchForm').submit()"><i class="fa fa-search"></i> Search</button>
            <span class="nav-list">
              <span class="current-selection">
                <i class="fa fa-book"></i>
              </span>
              <span class="arrow"></span>
              <select id="dropdown2">
                <option value="book" id='Book' icon-type="book">Book</option>
                <option value="book-owner" id='Owner' icon-type="user">Owner</option>
              </select>
            </span>
            <div class="in-wrap">
              <form class="" action="/search" method="get" id="searchForm">
                <input type="text" name="searchItem" id="search-box" placeholder="What are you looking for?">
              </form>
            </div>
          </div>

          <div class="search-results" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <a class="result">
              <div class="result__picture four-members" style="background-image:url('images/landingpage/book.png'); background-size:contain">

              </div>
              <div class="result__details">
                Harry Potter and the Chamber of Secrets
                <span class="result__subtitle">JK Rowling <span style="font-size:1em">|</span> <big style="color:#fd6b0d">&#9733;&#9733;&#9733;&#9734;&#9734;</big> </span>
              </div>
            </a>

            <a class="result" id="example-result">
              <div class="result__picture four-members" style="background-image:url('images/landingpage/book.png'); background-size:contain">

              </div>
              <div class="result__details">
                Harry Potter and the Sorcerer Stone
                <span class="result__subtitle">JK Rowling <span style="font-size:1em">|</span> <big style="color:#fd6b0d">&#9733;&#9733;&#9734;&#9734;&#9734;</big> </span>
              </div>
            </a>

            <a class="result">
              <div class="result__picture four-members" style="background-image:url('images/landingpage/free-user.png'); background-size:contain">

              </div>
              <div class="result__details">
                JK Rowling
                <span class="result__subtitle">Free User <span style="font-size:1em">|</span> <big style="color:#fd6b0d">&#9733;&#9733;&#9734;&#9734;&#9734;</big> </span>
              </div>
            </a>

            <a class="result">
              <div class="result__picture four-members" style="background-image:url('images/landingpage/premium-user.png'); background-size:contain">

              </div>
              <div class="result__details">
                Matthew Alviz
                <span class="result__subtitle">Verified User <span style="font-size:1em">|</span> <big style="color:#fd6b0d">&#9733;&#9733;&#9733;&#9733;&#9733;</big> </span>
              </div>
            </a>


          </div>
        </div>
      </div>
    </div>

<div class="container-fluid features" id="about" style="border-top: 1px solid rgba(0, 0, 0, 0.075);padding-right: 250px; padding-left: 250px;">
  <div class="container cf">
    <h1 style="text-shadow: 2px 2px 4px #cdc2c2a6;text-align:left; font-family: 'Comfortaa', Helvetica, sans-serif;">Explore Bookhub</h1>
    <div class="lead" style="margin-bottom:80px; text-align:left; font-family: 'Comfortaa', Helvetica, sans-serif;">Explore some books based on the categories below.</div>
    <div id="app">
      <div class="rela-block new-item-container">
        <div class="vert-center move-arrow left-arrow disabled">&lt;</div>
        <div class="vert-center move-arrow right-arrow">&gt;</div>
        <div class="inner-moving-container" style="left: 1px;">
        <div class="rela-inline new-item" style="background-image: url('images/landingpage/explore1.jpg')">
          <div class="new-item-info"><p class="abs-center">Checkout top 30<br>must read <br>books this 2018</p></div>
          <div class="product-view-button" style="background-color: #0070ff; color:white;">View</div>
        </div>
        <div class="rela-inline new-item" style="background-image: url('images/landingpage/explore2.jpg'); animation-delay: 0.1s;">
          <div class="new-item-info">
            <p class="abs-center">Checkout best books<br>to review for the upcoming<br> ICSE board exam</p>
          </div>
          <div class="product-view-button" style="background-color: #0070ff; color:white;">View</div>
        </div>
        <div class="rela-inline new-item" style="background-image: url('images/landingpage/explore3.jpg'); animation-delay: 0.2s;">
          <div class="new-item-info">
            <p class="abs-center">Checkout most<br>anticipated books<br>this march</p>
          </div>
          <div class="product-view-button" style="background-color: #0070ff; color:white;">View</div>
        </div>
        <div class="rela-inline new-item" style="background-image: url('images/landingpage/explore4.jpg'); animation-delay: 0.3s;">
          <div class="new-item-info"><p class="abs-center">Checkout the<br>best Children's book<br>of all time</p></div>
          <div class="product-view-button" style="background-color: #0070ff; color:white;">View</div>
        </div>
        <div class="rela-inline new-item" style="background-image: url('images/landingpage/explore5.jpg'); animation-delay: 0.4s;">
          <div class="new-item-info">
            <p class="abs-center">Checkout best<br>books for<br> programming</p>
          </div>
          <div class="product-view-button" style="background-color: #0070ff; color:white;">View</div>
        </div>
        <div class="rela-inline new-item" style="background-image: url('images/landingpage/explore6.jpg'); animation-delay: 0.5s;">
          <div class="new-item-info">
            <p class="abs-center">Checkout best<br>books for<br> IELTS exams</p></div>
            <div class="product-view-button" style="background-color: #0070ff; color:white;">View</div>
        </div>
        <div class="rela-inline new-item" style="background-image: url('images/landingpage/explore7.jpg'); animation-delay: 0.6s;">
          <div class="new-item-info"><p class="abs-center">Checkout best<br>books for<br>CDS exams</p></div>
          <div class="product-view-button" style="background-color: #0070ff; color:white;">View</div>
        </div>
        <div class="rela-inline new-item" style="background-image: url('images/landingpage/explore8.jpg'); animation-delay: 0.7s;">
          <div class="new-item-info">
            <p class="abs-center">Checkout top<br>20 books for<br>psychology</p>
          </div>
          <div class="product-view-button" style="background-color: #0070ff; color:white;">View</div>
        </div>
        <div class="rela-inline new-item" style="background-image: url('images/landingpage/explore9.jpg'); animation-delay: 0.8s;">
          <div class="new-item-info">
            <p class="abs-center">Checkout books<br>about poetry</p>
          </div>
          <div class="product-view-button" style="background-color: #0070ff; color:white;">View</div>
        </div>
        <div class="rela-inline new-item" style="background-image: url('images/landingpage/explore10.jpg'); animation-delay: 0.9s;">
          <div class="new-item-info"><p class="abs-center">Checkout books<br>about fantasy</p></div>
          <div class="product-view-button" style="background-color: #0070ff; color:white;">View</div>
        </div>
        </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid features" id="skills" style="background-color:#f9f9f9; padding-right: 250px;
    padding-left: 250px; background-image:url('images/landingpage/bg.jpg'); background-size:cover">
  <div class="container cf">
    <h1 style="text-shadow:2px 2px 4px #363333a6; text-align:left; font-family: 'Comfortaa', Helvetica, sans-serif; color:white">Explore Books Around Makati</h1>
    <div class="lead" style="text-align:left; font-family: 'Comfortaa', Helvetica, sans-serif; color:white">Explore some books that might pique your interest around your area.</div>

<br><br><br><br>
<div class="card-view" id="0" style="border-radius:4px;">
  <div class="column">
      <!-- Post-->
      <div class="post-module">
        <!-- Thumbnail-->
        <div class="thumbnail">
          <div class="date">
            <div class="day">7</div>
            <div class="month">Copies</div>
          </div><img src="images/landingpage/sample.jpeg"/>
        </div>
        <!-- Post Content-->
        <div class="post-content">
          <div class="category">Check it out</div>
          <h1 class="title">Harry Potter and the Philosopher stone</h1>
          <h2 class="sub_title" style="padding-bottom:0; color:black">By: JK Rowling</h2>

          <div class="c_info" style="padding-left:0">
            <span id="c_stars" data-star="0"><span style="width: 48px;"></span></span>
            <div class="c_num">0 Stars</div>
            </div>

          <h2 class="sub_title">Fantasy</h2>
          <p class="description">A boy learns on his eleventh birthday that he is the orphaned son of two powerful wizards and possesses unique magical powers of his own. He is summoned from his life as an unwanted child to become a student at Hogwarts.</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-compass"></i> 280 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 3 comments</a></span></div>
        </div>
      </div>
    </div>
  </div>

      <div class="card-view" id="0" style="border-radius:4px">
        <div class="column">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail">
                <div class="date">
                  <div class="day">10</div>
                  <div class="month">Copies</div>
                </div><img src="images/landingpage/sample2.jpg"/>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <div class="category">Check it out</div>
                <h1 class="title">Catcher in the Rye</h1>
                <h2 class="sub_title" style="padding-bottom:0; color:black">By: David Leviathan</h2>

                <div class="c_info" style="padding-left:0">
                  <span id="c_stars" data-star="5"><span style="width: 48px;"></span></span>
                  <div class="c_num">5 Stars</div>
                  </div>

                <h2 class="sub_title">Mystery/Drama</h2>
                <p class="description">The Catcher in the Rye is narrated by a young man named Holden Caulfield. Holden is not specific about his location while he's telling the story, but he makes it clear that he is undergoing treatment in a mental hospital or sanatorium.</p>
                <div class="post-meta"><span class="timestamp"><i class="fa fa-compass"></i> 120 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 10 comments</a></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-view" id="0" style="border-radius:4px">
          <div class="column">
              <!-- Post-->
              <div class="post-module">
                <!-- Thumbnail-->
                <div class="thumbnail">
                  <div class="date">
                    <div class="day">2</div>
                    <div class="month">Copies</div>
                  </div><img src="images/landingpage/sample3.jpg"/>
                </div>
                <!-- Post Content-->
                <div class="post-content">
                  <div class="category">Check it out</div>
                  <h1 class="title">Every Day</h1>
                  <h2 class="sub_title" style="padding-bottom:0; color:black">By: David Leviathan</h2>

                  <div class="c_info" style="padding-left:0">
                    <span id="c_stars" data-star="3"><span style="width: 48px;"></span></span>
                    <div class="c_num">3 Stars</div>
                    </div>

                  <h2 class="sub_title">Drama/Romance</h2>
                  <p class="description">Every Day is about the story of A, a person who wakes up occupying a different body each day. A has their own memories, but they are also able to tap into the memories of the person whose body they are occupying.</p>
                  <div class="post-meta"><span class="timestamp"><i class="fa fa-compass"></i> 200 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 5 comments</a></span></div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>

<div class="container-fluid portfolio" id="portfolio" style="border-bottom: 1px solid rgba(0, 0, 0, 0.075); padding-right: 250px; padding-left: 250px">
  <div class="container cf">
    <h1 style="text-shadow: 2px 2px 4px #cdc2c2a6; text-align:left;    font-family: 'Comfortaa', Helvetica, sans-serif;">Share A Book</h1>
    <div class="lead" style="margin-bottom:80px; text-align:left;    font-family: 'Comfortaa', Helvetica, sans-serif;">Rent your books or advertise them. Help others help you.</div>

    <div class="wrapper-card">
      <div class="card popular" style="background-image:url('images/landingpage/premium2.png'); background-size:cover">
          <div class="card-title">
              <h3>Bookhub Free</h3>
              <h4>Get to borrow or rent books whenever you like.</h4>
          </div>
          <div class="card-price">
              <h1>
                  <sup>&dollar;</sup>
                  0
                  <small>monthly</small>
              </h1>
          </div>
          <div class="card-description">
              <ul>
                  <li><i class="fa fa-check" style="color:#3498db"></i> Locate Books</li>
                  <li><i class="fa fa-check" style="color:#3498db"></i> Borrow Books</li>
                  <li><i class="fa fa-times" style="color:#3498db"></i> Share a book</li>
                  <li><i class="fa fa-times" style="color:#3498db"></i> Manage shared books</li>
              </ul>
          </div>
          <div class="card-action">
              <button type="button">Sign Up Now!</button>
          </div>
      </div>
      <div class="card popular" style="background-image:url('images/landingpage/premium3.png'); background-size:cover">
          <div class="card-ribbon">
              <span>most popular</span>
          </div>
          <div class="card-title">
              <h3>Bookhub Pro</h3>
              <h4>Get to rent or advertise books. Earn some money out of it.</h4>
          </div>
          <div class="card-price">
              <h1>
                  <sup>&dollar;</sup>
                  5
                  <small>monthly</small>
              </h1>
          </div>
          <div class="card-description">
              <ul>
                <li><i class="fa fa-check" style="color:#3498db"></i> Locate Books</li>
                <li><i class="fa fa-check" style="color:#3498db"></i> Borrow Books</li>
                <li><i class="fa fa-check" style="color:#3498db"></i> Share a book</li>
                <li><i class="fa fa-check" style="color:#3498db"></i> Manage shared books</li>
              </ul>
          </div>
          <div class="card-action">
              <button type="button">Get Pro</button>
          </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid footer">
  <div class="container">
    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="#" target="_blank"><i class="fa fa-github"></i></a>
    <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
</footer>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="js/landingpage/index.js" type="text/javascript"></script>
<script src="js/landingpage/search.js" type="text/javascript"></script>
<script src="js/landingpage/search2.js" type="text/javascript"></script>
<script src="js/landingpage/cardView.js" type="text/javascript"></script>
<script src="js/landingpage/cardView2.js" type="text/javascript"></script>
<script src="js/landingpage/genre.js" type="text/javascript"></script>
  </body>
</html>
