<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="images/landingpage/BookHub_ico.png"/>
    <link rel="stylesheet" href="css/landingpage/index.css">
    <link rel="stylesheet" href="css/landingpage/search.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/fonts/CircularStdFont/style.css">
    <link rel="stylesheet" href="css/bookPreview/log-in.css">
    <link rel="stylesheet" href="css/landingpage/search.css">
    <link rel="stylesheet" href="css/landingpage/search2.css">
    <link rel="stylesheet" href="css/profilePage/profile.css">
    <link rel="stylesheet" href="css/profilePage/bulma.css">
    <link rel="stylesheet" href="css/landingpage/grid.css">
    <link rel="stylesheet" href="css/landingpage/cardView2.css">
    <link rel="stylesheet" href="css/landingpage/cardView.css">
    <link rel="stylesheet" href="css/profilePage/table.css">
    <link rel="stylesheet" href="css/bookPreview/tags.css">
    <link rel='stylesheet' id='jquery-raty-style-css'  href='https://cdn.demos.pixelgrade.com/wp-content/plugins/comments-ratings/css/jquery.raty.css?ver=1518791654' type='text/css' media='' />
    <link rel='stylesheet' id='listable-style-css'  href='css/bookPreview/additional.css' type='text/css' media='all'/>
  </head>

  <body id='hey'>
    <div class='columns' style="margin-top:110px">
      <div class='container profile'>
        <div class='modal' id='edit-preferences-modal'>
          <div class='modal-background'></div>

        </div>
        <div class='section profile-heading' style="box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)">
          <div class='columns is-mobile is-multiline'>
            <div class='column is-2'>
              <span class='header-icon user-profile-image'>
                <img alt='' src='images/bookPreview/profpic1.jpg'>
              </span>
            </div>
            <div class='column is-4-tablet is-10-mobile name'>
              <p>
                <span class='title is-bold'>Paul Miller</span>
                <br>
                <a class='button is-primary is-outlined' href='#' id='edit-preferences' style='margin: 5px 0'>
                  Privacy Settings
                </a>
                <br>
              </p>
              <table>
              <tr>
                <td data-label="Email:">jmalviz123@gmail.com</td>
                <td data-label="Location:">Denver, CO</td>
                <td data-label="Contact no:">+63 927 088 2569</td>
                <td data-label="Facebook:"><span style="color:#268bd2; cursor:pointer" class="clickable">https://www.facebook.com/Wehttamzivla</span></td>
                <td data-label="Twitter:"><span style="color:#268bd2; cursor:pointer" class="clickable">https://twitter.com/buttafinga14</span></td>
              </tr>
            </table>
            </div>
            <div class='column is-2-tablet is-4-mobile has-text-centered'>
              <p class='stat-val'>30</p>
              <p class='stat-key'><i class='fa fa-thumbs-up' style="font-size:1.4em"></i> Likes</p>
            </div>
            <div class='column is-2-tablet is-4-mobile has-text-centered'>
              <p class='stat-val'>10</p>
              <p class='stat-key'><i class='fa fa-thumbs-down' style="font-size:1.4em"></i> Dislikes</p>
            </div>
          </div>
        </div>
        <div class='profile-options is-fullwidth'>
          <div class='tabs is-fullwidth is-medium'>
            <ul>
              <li class='link is-active'>
                <a>
                  <span class='icon' style="color:#5d9cec">
                    <i class='fa fa-book'></i>
                  </span>
                  <span>My Books</span>
                </a>
              </li>

              <li class='link'>
                <a>
                  <span class='icon'>
                    <i class='fa fa-list'></i>
                  </span>
                  <span>Borrowed Books</span>
                </a>
              </li>

              <li class='link'>
                <a>
                  <span class='icon'>
                    <i class='fa fa-heart'></i>
                  </span>
                  <span>My Favorites</span>
                </a>
              </li>

              <li class='link'>
                <a>
                  <span class='icon'>
                    <i class='fa fa-history'></i>
                  </span>
                  <span>History</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="grid">
  <div class="col-one-third">
    <div class="post-module" style="cursor:pointer" onclick="window.open('bookPreview.html','_blank');">
      <div class="menu" style="position:absolute; right:7px; margin-top:90px; z-index:3">
  			<a>Matthew Alviz<span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
  			<a>Anton Macrohon<span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
  			<a>Gelline Gruta <span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
  		</div>
        <!-- Thumbnail-->
        <div class="thumbnail">
          <div class="date" style="z-index: 1">
								<div class="day" style="margin-top:10px"><i class="fa fa-user-plus"></i></div>
							</div>
          <img src="images/landingpage/sample.jpeg">
        </div>
        <!-- Post Content-->
        <div class="post-content">
          <div class="category" style="top:-40px">Status: Borrowed</div>
          <h1 class="title" style="font-family:'Circular Std Book' !important">Harry Potter and the Philosopher stone</h1>
          <h2 class="sub_title" style="padding-bottom:0; color:black">By: JK Rowling</h2>

          <div class="c_info" style="padding-left:0">
            <!--<span id="c_stars" data-star="0"><span style="width: 48px;"></span></span>
            <div class="c_num">0 Stars</div>-->
              <div class="single-meta" style="justify-content:unset">
                  <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                    <meta itemprop="ratingValue" content="3.00">
                  <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
              </div>
            </div>

            <!--<h2 class="sub_title">Fantasy</h2>-->
            <ul class="tags" style="padding-left:0;margin-top:20px;margin-bottom:71px">
                 <li><a style="color:white; margin-left:10px">Mystery</a></li>
                 <li><a style="color:white">Drama</a></li>
              </ul>
          <p class="description" style="text-align: justify; display: none; height: 149px; opacity: 1;">A boy learns on his eleventh birthday that he is the orphaned son of two powerful wizards. He is summoned from his life as an unwanted child to become a student at Hogwarts.</p>
          <div class="post-meta"><span class="timestamp"><i class="material-icons" style="font-size:inherit">directions</i> 280 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 3 comments</a></span></div>
        </div>
      </div>
  </div>


        <div class="col-one-third">
          <div class="post-module" style="cursor:pointer" onclick="window.open('bookPreview.html','_blank');">
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date" style="z-index:1">
								<div class="day" style="margin-top:10px"><i class="fa fa-user-plus"></i></div>
							</div>
              <img src="images/landingpage/sample2.jpg">
            </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category" style="top:-40px">Status: Advertised</div>
              <h1 class="title" style="font-family:'Circular Std Book' !important">Catcher in the Rye</h1>
              <h2 class="sub_title" style="padding-bottom:0; color:black">By: David Leviathan</h2>

              <div class="c_info" style="padding-left:0">
                <!--<span id="c_stars" data-star="0"><span style="width: 48px;"></span></span>
                <div class="c_num">0 Stars</div>-->
                  <div class="single-meta" style="justify-content:unset">
                      <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                        <meta itemprop="ratingValue" content="3.00">
                      <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                      <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                  </div>
                </div>

                <!--<h2 class="sub_title">Fantasy</h2>-->
                <ul class="tags" style="padding-left:0;margin-top:20px;margin-bottom:71px">
                     <li><a style="color:white; margin-left:10px">Mystery</a></li>
                     <li><a style="color:white">Drama</a></li>
                  </ul>
              <div class="post-meta"><span class="timestamp"><i class="material-icons" style="font-size:inherit">directions</i> 120 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 10 comments</a></span></div>
            </div>
          </div>
        </div>


          <div class="col-one-third">
            <div class="post-module" style="cursor:pointer" onclick="window.open('bookPreview.html','_blank');">
              <!-- Thumbnail-->
              <div class="thumbnail">
                <div class="date" style="z-index:1">
								<div class="day" style="margin-top:10px"><i class="fa fa-user-plus"></i></div>
							</div>
                <img src="images/landingpage/sample3.jpg">
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <div class="category" style="top:-40px">Status: Occupied</div>
                <h1 class="title" style="font-family:'Circular Std Book' !important">Every Day</h1>
                <h2 class="sub_title" style="padding-bottom:0; color:black">By: David Leviathan</h2>

                <div class="c_info" style="padding-left:0">
                  <!--<span id="c_stars" data-star="0"><span style="width: 48px;"></span></span>
                  <div class="c_num">0 Stars</div>-->
                    <div class="single-meta" style="justify-content:unset">
                        <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                          <meta itemprop="ratingValue" content="3.00">
                        <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                    </div>
                  </div>

                  <!--<h2 class="sub_title">Fantasy</h2>-->
                  <ul class="tags" style="padding-left:0;margin-top:20px;margin-bottom:71px">
                       <li><a style="color:white; margin-left:10px">Mystery</a></li>
                       <li><a style="color:white">Drama</a></li>
                    </ul>
                <div class="post-meta"><span class="timestamp"><i class="material-icons" style="font-size:inherit">directions</i> 200 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 5 comments</a></span></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="js/landingpage/index.js" type="text/javascript"></script>
    <script src="js/landingpage/search.js" type="text/javascript"></script>
    <script src="js/landingpage/search2.js" type="text/javascript"></script>
    <script type='text/javascript' src='js/bookPreview/log-in.js'></script>
    <script src="js/Profilepage/index.js" type="text/javascript"></script>
    <script src="js/Profilepage/Requests.js" type="text/javascript"></script>
  </body>
</html>
