<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  	<link rel="stylesheet" href="/stylesheets/result.css">
    <link href='/stylesheets/coverflow.css' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/stylesheets/loading.css">
    <link href='/stylesheets/GrandHotelFont.css' rel='stylesheet' type='text/css'>
    <script src="/js/jquery.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/JosefinSansFont.css" rel="stylesheet">
    <link href="/stylesheets/SanchezFont.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/search.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/upload.css">
    <link href="/stylesheets/FiraSansFont.css" rel="stylesheet">
    <link href='/stylesheets/LatoFont.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/MontserratFont.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/books.css' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyByOQKgQLsoRMCDQmvSpQSi5wrcaiBrB08&sensor=false&libraries=places"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style="background-color:black">
    <div class="overlay">
      <!--<p id="name">Bookhub is loading...</p>-->
      <div class="centre">
        <div class="loader"></div>
      </div>
    </div>

    <div id="container" style="background-color:#393535">
      <div class="anothaBox"><p style="font-family: 'Grand Hotel',cursive;
          font-size: 35px; color: white; margin-left:25px; margin-top:11px;">
              Book Hub
          </p>

          <div id="titleBar" style="position:relative; bottom: 5vh">
            <!-- ICONS -->


            <!--<h2>Dashboard</h2>-->
            <div id="profilePic">
              <!--<a href="https://codepen.io/Varo" target="_blank"><img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/174537/profile/profile-80_9.jpg" /></a>-->
              <a href=""><img src="/images/samplePic2.jpg" /></a>
            </div>
            <div class="options">
              <a href="" target="_blank"><div class="username">Alviz Matthew</div></a>
              <hr>
              <a href="#" class="option"><i class="fa fa-wrench"></i>Settings</a>
              <a href="#" class="option"><i class="fa fa-suitcase"></i>Account Info</a>
              <a href="#" class="option"><i class="fa fa-book"></i>Statistics</a>
              <a href="#" class="pro"><span>Upgrade to </span> PRO</a>
              <a href="#" class="logout">Log out <i class="fa fa-sign-out"></i></a>
            </div>

          </div>
      </div>

      <div id="sideMenu" style="position:relative;z-index:60;transition: ease 0.75s;">
        <div id="sideMenuFixed"></div>
        <div id="sidecontent">
          <!--<a href="index.html"><p style="font-family: 'Grand Hotel',cursive;
          font-size: 35px; color: white">
              Book Hub
          </p></a>-->

        <ul class="menu">
          <li>Main</li>
          <li class="searchBut"><i class="fa fa-search" aria-hidden="true" style="margin-top:7px"></i>Search</li>
          <li><i class="fa fa-bell" aria-hidden="true" style="margin-top:7px"></i> Notifications <span class="notification">8</span></li>
          <li><i class="fa fa-star" aria-hidden="true" style="margin-top:7px"></i>Favorites</li>
          <li id="upload"><i class="fa fa-upload" aria-hidden="true" style="margin-top:7px"></i>Upload Books</li>
        </ul>

        <!--<ul class="menu">
          <li>Account</li>
          <li>Privacy</li>
          <li>Statistics</li>
          <li>Subscription</li>
        </ul>

        <!--<ul class="menu">
          <li>Sort By</li>
          <li>Popular <span class="colorIcon red"></span></li>
          <li>Oldest <span class="colorIcon orange"></span></li>
          <li>Latest <span class="colorIcon green"></span></li>
        </ul>-->
        <!--<div class="addCategory"><span class="plus">+</span> Add Category</div>-->
        </div>
      </div>


  <div id="content">
    <div class="site-search" style="text-align: center" id="site1">
      <div class="site-search-inner">
        <div class="widget woocommerce widget_product_search">
          <div class="close-btn" id="close1" style="position:absolute; right:2px; margin-top:-152px;"></div>
          <h1 style="font-size: 4em; margin-bottom: .5em; text-align: center; margin-top: 12%; font: 300 3em/1.5 'Lato', 'Helvetica Neue', Arial, sans-serif; color: white; text-transform: none;">Search</h1>
          <input id='s' type='search' style="text-align: center">
        </div>
      </div>
    </div>

    <div class="site-search" style="text-align: center" id="site2">
      <div class="site-search-inner">
        <div class="widget woocommerce widget_product_search">
          <div class="close-btn" id="close2"></div>
          <!-- multistep form -->
          <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
              <li class="active">Step 1</li>
              <li>Step 2</li>
              <li>Step 3</li>
            </ul>
            <!-- fieldsets -->
            <fieldset style="margin: 0 3%">
              <h3 class="fs-subtitle" style="margin-left:0px;">Upload the cover of the book.</h3>
              <div class="box">
                <div class="js--image-preview"></div>
                <div class="upload-options">
                  <label>
                    <input type="file" class="image-upload" accept="image/*">
                  </label>
                </div>
              </div>
                <input type="button" name="next" class="next action-button" value="Next" />
              </fieldset>
              <fieldset>
              <h3 class="fs-subtitle" style="margin-left:0px;">Tell us about the book.</h3>
              <input type="text" name="" value="" placeholder="Book Title"/>
              <input type="text" name="" value="" placeholder="Genre"/>
              <input type="text" name="" value="" placeholder="Author"/>
              <textarea style="resize: none; height:120px; text-transform:none;" name="text" placeholder="Description"></textarea>
              <input type="button" name="previous" class="previous action-button" value="Previous" />
              <input type="button" name="next" id="initialization" class="next action-button" value="Next" />
            </fieldset>
            <fieldset style="margin: 0px -13%; width: 130%">
              <h3 class="fs-subtitle" style="margin-left:0px;">Where can we locate the book.</h3>
              <span class="fa fa-search" style="position:absolute; top:20%; left:8%"></span>
              <input id="pac-input" class="controls"  style="text-indent: 23px;" type="text" placeholder="Search for a place here...">
              <input type="hidden" id="latitude" placeholder="latitude">
              <input type="hidden" id="longitude" placeholder="longitude">
              <div id="map2" style="width:100%; height:50vh"></div>
              <input type="button" name="previous" class="previous action-button" value="Previous" />
              <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="site-search" style="text-align: center" id="site3">
      <div class="site-search-inner">
        <div class="widget woocommerce widget_product_search">
          <div class="close-btn" id="close3" style="margin-top:12px;"></div>
          <div class="card">
              <div class="card-photo">
                <!--<div class="x"><b></b><b></b><b></b><b></b></div>-->
                <img src="/images/samplePic.png">
              </div>
              <div class="card-name">
                <!--<h1><i class="fa fa-circle" aria-hidden="true"></i>-->
           ABC Store</h1></div>
              <div class="card-description">
                <p>27 Successful Transaction</p>
              </div>
              <div class="card-follow">
                <button style="padding: 0px;">Follow</button>
                <button style="padding: 0px;">Message</button>
              </div>
              <!--<div class="card-planets" style="margin: 0px;">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <i class="fa fa-globe active" aria-hidden="true"></i>
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </div>-->
            </div>
        </div>
      </div>
    </div>

    <div class="mainChart" style="position:relative;">
      <div class="component">
				<ul class="align">
          <% for(var i=0; i < data.length; i++) { %>
            <li>
             <figure class='book'>

               <!-- Front -->

               <ul class='hardcover_front'>
                 <li>
                    <img src=<%="/downloads/"+data[i].photo %> height="220px" width="170px"/>
                 </li>
                 <li></li>
               </ul>

               <!-- Pages -->

               <ul class='page'>
                 <li></li>
                 <li>
                    <a class="btn" href="#" style="margin-top:80px">Add to Favorites</a>
                    <a class="btn" href="favorites.html" style="margin-top:10px">Where to find?</a>
                 </li>
                 <li></li>
                 <li></li>
                 <li></li>
               </ul>

               <!-- Back -->

               <ul class='hardcover_back'>
                 <li>
                  </li>
                 <li>
                  </li>
               </ul>
               <ul class='book_spine'>
                 <li></li>
                 <li></li>
               </ul>
               <figcaption>
                  <h1><%= data[i].title %></h1>
                 <span>By <%= data[i].author %></span>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium id cumque est dolores voluptatibus.</p>
               </figcaption>
             </figure>
           </li>
          <% } %>

				</ul>
			</div>

    </div>
  </div>
  </div>
      </div>

  <script type="text/javascript" src="/js/loading.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js"></script>
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/selectMap.js"></script>
  <script src="/js/jquery.flipster.min.js"></script>
  <script type="text/javascript" src="/js/upload.js"></script>
  <script>
  function initImageUpload(box) {
    let uploadField = box.querySelector('.image-upload');

    uploadField.addEventListener('change', getFile);

    function getFile(e){
      let file = e.currentTarget.files[0];
      checkType(file);
    }

  function previewImage(file){
    let thumb = box.querySelector('.js--image-preview'),
        reader = new FileReader();

    reader.onload = function() {
      thumb.style.backgroundImage = 'url(' + reader.result + ')';
    }
    reader.readAsDataURL(file);
    thumb.className += ' js--no-default';
  }

  function checkType(file){
    let imageType = /image.*/;
    if (!file.type.match(imageType)) {
      throw 'Datei ist kein Bild';
    } else if (!file){
      throw 'Kein Bild gewählt';
    } else {
      previewImage(file);
    }
  }

}

// initialize box-scope
var boxes = document.querySelector('.box');
initImageUpload(boxes);

//# sourceURL=pen.js
</script>
</body>
</html>
