<style media="screen">
.content {
font-family: 'Helvetica Neue';
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
font-size: 30px;
}

.title {
font-weight: bold;
color: #5c5c5c;
}

.symbol {
-webkit-text-stroke: 13px white;
font-size: 150px;
color: #37b20a;
}

.text {
margin-top: 15px;
font-size: 25px;
color: #e07202;
text-align: center;
font-family: 'avenir';
font-weight: lighter;
}
</style>
<div class='content' style="margin-top:20%">
  <div class='fa fa-check-circle-o symbol'></div>
  <div class='title'>Thank you!</div>
  <div class='text'><%=message%></div>
</div>
<script type="text/javascript">
  setInterval(function(){ window.location.replace("http://localhost:3000/"); }, 3000);
</script>
