.module {
  float: left;
  width: 98%;
  margin-left: 2%;
  margin-bottom: 2%;
  background-: #212121;
  padding: 1em;
  min-height: 60px;
  transition: all 0.3s linear;
}
.grid1 {
  margin-left: -2%;
  padding: 2%;
  *zoom: 1;
}
.grid1:after {
  content: '';
  display: block;
  clear: both;
}
@media only screen and (min-width: 481px) {
  .tablet-1 {
    width: 6.33333333%;
  }
  .tablet-1:after {
    content: ' (8%)';
    : #666;
  }
  .tablet-2 {
    width: 14.66666667%;
  }
  .tablet-2:after {
    content: ' (17%)';
    : #666;
  }
  .tablet-3 {
    width: 23%;
  }
  .tablet-3:after {
  }
  .tablet-4 {
    width: 31.33333333%;
  }
  .tablet-4:after {
    content: '';
    : #666;
  }
  .tablet-5 {
    width: 39.66666667%;
  }
  .tablet-5:after {
    content: ' (42%)';
    : #666;
  }
  .tablet-6 {
    width: 48%;
  }
  .tablet-6:after {
    content: ' (50%)';
    : #666;
  }
  .tablet-7 {
    width: 56.33333333%;
  }
  .tablet-7:after {
    content: ' (58%)';
    : #666;
  }
  .tablet-8 {
    width: 64.66666667%;
  }
  .tablet-8:after {
    content: ' (67%)';
    : #666;
  }
  .tablet-9 {
    width: 73%;
  }
  .tablet-9:after {
    content: ' (75%)';
    : #666;
  }
  .tablet-10 {
    width: 81.33333333%;
  }
  .tablet-10:after {
    content: ' (83%)';
    : #666;
  }
  .tablet-11 {
    width: 89.66666667%;
  }
  .tablet-11:after {
    content: ' (92%)';
    : #666;
  }
  .tablet-12 {
    width: 98%;
  }
  .tablet-12:after {
    content: ' (100%)';
    : #666;
  }
}
@media only screen and (min-width: 1024px) {
  .desktop-1 {
    width: 6.33333333%;
  }
  .desktop-1:after {
    content: ' (8%)';
    : #666;
  }
  .desktop-2 {
    width: 14.66666667%;
  }
  .desktop-2:after {
    content: ' (17%)';
    : #666;
  }
  .desktop-3 {
    width: 47%;
  }
  .desktop-3:after {
  }
  .desktop-4 {
    width: 31.33333333%;
  }
  .desktop-4:after {
    *content: ' ';
    color:white
  }
  .desktop-5 {
    width: 39.66666667%;
  }
  .desktop-5:after {
    content: ' (42%)';
    : #666;
  }
  .desktop-6 {
    width: 48%;
  }
  .desktop-6:after {
    content: ' (50%)';
    : #666;
  }
  .desktop-7 {
    width: 56.33333333%;
  }
  .desktop-7:after {
    content: ' (58%)';
    : #666;
  }
  .desktop-8 {
    width: 64.66666667%;
  }
  .desktop-8:after {
    content: ' (67%)';
    : #666;
  }
  .desktop-9 {
    width: 73%;
  }
  .desktop-9:after {
    content: ' (75%)';
    : #666;
  }
  .desktop-10 {
    width: 81.33333333%;
  }
  .desktop-10:after {
    content: ' (83%)';
    : #666;
  }
  .desktop-11 {
    width: 89.66666667%;
  }
  .desktop-11:after {
    content: ' (92%)';
    : #666;
  }
  .desktop-12 {
    width: 98%;
  }
  .desktop-12:after {
    content: ' (100%)';
    : #666;
  }
}
/* Boring stuff */

header {
  text-align: center;
  margin-bottom: 1em;
}
header h1 {
  text-transform: uppercase;
  font-size: 2.5em;
}
