.trophy-cart {
  float: left;
  background: #f6f6f6;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: none;
}
.trophy-cart .trophy-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.trophy-cart .trophy-cart-header .trophy-cart-total {
  float: right;
}
.trophy-cart .trophy-cart-items {
  padding-top: 20px;
}
.trophy-cart .trophy-cart-items li {
  margin-bottom: 18px;
}
.trophy-cart .trophy-cart-items img {
  float: left;
  margin-right: 12px;
}
.trophy-cart .trophy-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}
.trophy-cart .trophy-cart-items .item-price {
  color: #6394F8;
  margin-right: 8px;
}
.trophy-cart .trophy-cart-items .item-quantity {
  color: #ABB0BE;
}

.trophy-cart:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #f6f6f6;
  border-width: 8px;
  margin-left: -8px;
}
