/* line 19, ../compass/sass/style.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 23, ../compass/sass/style.scss */
html {
  overflow-y: scroll;
}

/* line 27, ../compass/sass/style.scss */
body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

/* line 32, ../compass/sass/style.scss */
a {
  text-decoration: none;
  color: #FF9500;
  transition: .5s ease;
}
/* line 36, ../compass/sass/style.scss */
a:hover {
  color: #b67923;
}

/* line 41, ../compass/sass/style.scss */
.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

/* line 50, ../compass/sass/style.scss */
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
/* line 54, ../compass/sass/style.scss */
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
/* line 59, ../compass/sass/style.scss */
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
/* line 71, ../compass/sass/style.scss */
.tab-group li a:hover {
  background: #b67923;
  color: #ffffff;
}
/* line 76, ../compass/sass/style.scss */
.tab-group .active a {
  background: #FF9500;
  color: #ffffff;
}

/* line 82, ../compass/sass/style.scss */
.tab-content > div:last-child {
  display: none;
}

/* line 87, ../compass/sass/style.scss */
h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

/* line 94, ../compass/sass/style.scss */
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
/* line 103, ../compass/sass/style.scss */
label .req {
  margin: 2px;
  color: #FF9500;
}

/* line 109, ../compass/sass/style.scss */
label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 12px;
}
/* line 113, ../compass/sass/style.scss */
label.active .req {
  opacity: 0;
}

/* line 118, ../compass/sass/style.scss */
label.highlight {
  color: #ffffff;
}

/* line 122, ../compass/sass/style.scss */
input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 134, ../compass/sass/style.scss */
input:focus, textarea:focus {
  outline: 0;
  border-color: #FF9500;
}

/* line 140, ../compass/sass/style.scss */
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

/* line 145, ../compass/sass/style.scss */
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

/* line 151, ../compass/sass/style.scss */
.top-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 157, ../compass/sass/style.scss */
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
/* line 161, ../compass/sass/style.scss */
.top-row > div:last-child {
  margin: 0;
}

/* line 167, ../compass/sass/style.scss */
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #FF9500;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 180, ../compass/sass/style.scss */
.button:hover, .button:focus {
  background: #b67923;
}

/* line 185, ../compass/sass/style.scss */
.button-block {
  display: block;
  width: 100%;
}

/* line 190, ../compass/sass/style.scss */
.forgot {
  margin-top: -20px;
  text-align: right;
}

.hov{
  color: #FF9500;
  text-decoration: none;
}

.hov:hover{
  color: #b67923;
  text-decoration: none;
}
