#map-canvas {
	margin: 0;
	padding: 0;
	height: 100%;
	max-width: 100%;
}
#map-canvas img {
	max-width: none !important;
}

.gm-style-iw {
  min-width: 250px;
  max-width: 1220px;
  width: 50%;
}

.columns {
  width: 100%;
	display: unset;
}

.card{
	box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.media{
	display: -webkit-box;
}

.media-left{
	margin-right: 10px;
}

.card:hover {
  opacity: 0.8;
}

.column{
	padding: 10px;
}
