
.card {
  width: 285px;
  height: 380px;
  /*border: 2px solid green */
  /*display: none;*/
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 85px 0 0 -150px;
  z-index: 2;
  /*box-shadow: 2px 2px 1px #333 */
}

.card-photo img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 200px;
}

.card-name {
  align-items: center;
}

.card-name .fa-circle {
  color: #ff6e40;
  font-size: 8px;
  margin-right: 5px;
}

.card-name h1 {
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
  color: #49494b;
  font-weight: bold;
}

.card-description {
  font-size: 14px;
  color: #a6a6a6;
  font-weight: 300;
}

.card-description p {
  margin: 0;
}

.card-follow button {
  margin-top: 40px;
  background: white;
  border-radius: 50px;
  width: 90px;
  height: 30px;
  color: #009fff;
  cursor: pointer;
  font-weight: bold;
  border-style: none;
  border:1px solid #009fff;
	transition: ease 0.75s;
}

.card-follow button:hover{
  /*box-shadow: 0 0 0 2px white, 0 0 0 3px #009fff;
  outline: none;*/
  background: #009fff;
	color: white;
	border:none;
}

.card-planets {
  margin-top: 30px;
  display: inline-block;
}

.card-planets .fa {
  font-size: 25px;
  color: #a6a6a6;
  margin: 0 30px;
}

.card-planets .active {
  color: #ff6e40;
}

.x{
  width:5.7%;
  height:4.2%;
  display:block;
  float:right;
  position:relative;
  margin:0;
  padding:0;
  overflow:hidden;
  background:#CCC;
  border-radius:2px;
  border:solid 2px #FFF;
  transition: all .3s ease-out;
  cursor:pointer;
  position: absolute;
  right: 2%;
  margin-top: 1.5%;
}

.x:hover{
  background:#ff6e40;
  transform: rotate(180deg);
}

.x b{
  display:block;
  position:absolute;
  height:0;
  width:0;
  padding:0;
  margin:0;
  border:solid 6px rgba(255,255,255,0);
}

.x b:nth-child(1){
  border-top-color:#FFF;
  top:-2px;
}
.x b:nth-child(2){
  border-left-color:#FFF;
  left:-2px;
}
.x b:nth-child(3){
  border-bottom-color:#FFF;
  bottom:-2px;
}
.x b:nth-child(4){
  border-right-color:#FFF;
  right:-2px;
}
